<div class="popup tw-popup">
    <div class="popup-page nobg layer actionsheet has-floating"><!-- actionsheet, has-floating, has-header // -->
        <!-- .container-wrap -->
        <div class="container-wrap"> 
            <div class="container">
                <div class="cont-box nogaps noborder">
                    <!-- .cont-actionsheet -->
                    <div class="cont-actionsheet mf-actionsheet">
                    <div class="lineManagement-header tod-type01">
                        <ul class="ac-list">
                        <li class="type1">
                            <button id="fe-bt-line" type="button">
                            <span class="table">
                                <span class="table-row">
                                <span class="table-cell cell-title2">
                                    <span class="txt">Manage My Lines</span>
                                    {{#if hasNonExpsLine}}
                                    <span class="add-txt"><span class="tod-txcolor6">{{totNonCnt}} lines</span> waiting to be registered</span>
                                    {{/if}}
                                </span>
                                <span class="table-cell right top">
                                    View
                                    <span class="link"></span>
                                </span>
                                </span>
                            </span>
                            </button>
                        </li>
                        </ul>
                        <hr aria-hidden="true">
                    </div>
                {{#each data}}
                    {{#if @index}}
                    <hr aria-hidden="true"/>
                    {{/if}}
                    <div class="ac-tit fe-title ">Mobile ({{cnt}})</div>
                    <ul class="ac-list fe-service">
                        {{#each list}}
                        <li class="type1 focus-elem">
                            <label for="ra1">
                            <span class="table">
                                <span class="table-row">
                                <span class="table-cell "><!-- .cell-title : 왼쪽 텍스트가 긴 경우에만 사용, .tit-full : 화살표영역 제외한 full -->
                                    <span class="simbol ico7"></span>
                                    <span class="txt">{{txt}}</span>
                                    <span class="add">{{add}}
                                    {{#if badge}}<span class="badge">main</span>{{/if}}
                                    </span><!-- pin대신 badge 추가 -->
                                </span>
                                <span class="table-cell right">
                                    <span class="custom-form"><input class="fe-radio-line" type="radio" name="line" data-svcMgmtNum="{{svcMgmtNum}}" data-mdn="{{add}}" {{option}}><span class="r-type1"></span></span>
                                    <span class="link"></span>
                                </span>
                                </span>
                            </span>
                            </label>
                        </li>
                        {{/each}}
                    </ul>
                {{/each}}

                    <hr aria-hidden="true">
                    <!--// .cont-box -->
                    <!-- 200911 문구 및 링크 추가 -->
                    <div class="cont-box">
                    <div class="myt-note-wrap pt25 pl0" style="font-size:0.75rem">
                        <span class="tit">You may view non-mobile lines including Internet/landline/IPTV on the Korean version of T world</span> 
                        <a href="/main/home" class="bt-link-tx underline">Go to Tworld KOR</a>
                    </div>
                    </div>
                    <!-- //200911 문구 및 링크 추가 -->
                    <!--// .cont-box -->
                    <button type="button" class="btn-floating btn-style3 tw-popup-closeBtn">close</button>
                    </div>
                    <!-- // .cont-actionsheet -->
                </div>
            </div>
        </div>
        <!--// .container-wrap -->
    </div>
    <div class="popup-blind"></div>
</div>
