{{#each banners}}
    <li data-xt_eid="{{oferStcCd}}" data-xt_action="BV" data-xt_action2="BC" data-xt_csid="NO">
        {{#if isHTML}}
            <button style="width:100%" tabindex="{{#if @index}}-1{{else}}0{{/if}}">
                {{{bnnrHtmlCtt}}}
            </button>
        {{else}}
            <button tabindex="{{#if @index}}-1{{else}}0{{/if}}" {{#unless isInternalLink}}title="새 창"{{/unless}}  role="link">
                <img class="fe-banner slick-loading" style="width:100%" data-idx="{{@index}}" {{#if bnnrFilePathNm}}data-lazy="https://cdnm-stg.tworld.co.kr{{bnnrFilePathNm}}"{{/if}} alt="{{bnnrImgAltCtt}}">
            </button>
        {{/if}}
    </li>
{{/each}}
