{{#each banners}}
    <li data-xt_eid="{{oferStcCd}}" data-xt_action="BV" data-xt_action2="BC" data-xt_csid="NO">
        {{#if isHTML}}
            <button style="width:100%">
                {{{bnnrHtmlCtt}}}
            </button>
        {{else}}
            <img role="link" class="fe-banner slick-loading" style="width:100%" data-idx="{{idx}}" {{#if bnnrFilePathNm}}data-lazy="{{../CDN}}{{bnnrFilePathNm}}"{{/if}} alt="{{bnnrImgAltCtt}}">
        {{/if}}
    </li>
{{/each}}
