{{#each banners}}
    <li>
        {{#if isHTML}}
            <button style="width:100%">
                {{{bnnrHtmlCtt}}}
            </button>
        {{else}}
            <img class="fe-banner" style="width:100%" data-idx="{{idx}}" {{#if bnnrFilePathNm}}data-lazy="{{../CDN}}{{bnnrFilePathNm}}"{{/if}} alt="{{bnnrImgAltCtt}}">
        {{/if}}
    </li>
{{/each}}