<div class="popup tw-popup">
    <div class="popup-page nobg"><!-- .half 화면에서 50%로 보여질때 -->
        <!-- #header -->
        <div class="header-wrap">
            <div class="page-header">
                <div class="header-ti">
                    <h1>T`PLE 카드, COUPLE 카드 안내</h1>
                </div>
            </div>
        </div>
        <!--// #header -->
        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">

                <!-- .cont-box -->
                <div class="cont-box">
                    <div class="card-box type-skyblue">
                        <div class="card-inner">
                            <strong class="card-tit">T`PLE 카드</strong>
                            <span class="card-name2">모바일 콘텐츠 반값</span>
                            <p class="card-discount">다양한 유료 콘텐츠를<br><strong>최대 50% 할인된 가격으로 제공</strong></p>
                        </div>
                    </div>
                    <div class="card-intro">
                        <strong class="intro-tit">주요 혜택</strong>
                        <a href="{{ data.tpleUrl }}" class="fe-outlink intro-txt2" title="새창열림" target="_blank"><button class="intro-bt">영화·TV 반값</button></a>
                        <p class="intro-txt2">원스토어, oksusu 영화·IPTV·VOD 50% 할인</p>
                        <a href="{{ data.tpleUrl }}" class="fe-outlink intro-txt2" title="새창열림" target="_blank"><button class="intro-bt">음악·게임 반값</button></a>
                        <p class="intro-txt2">원스토어, 멜론 음악·게임 최대 50% 할인</p>
                        <a href="{{ data.tpleUrl }}" class="fe-outlink intro-txt2" title="새창열림" target="_blank"><button class="intro-bt">그 외 콘텐츠 할인</button></a>
                        <p class="intro-txt2">원스토어에서 VOD, 게임을 제외한 콘텐츠 20% 할인</p>
                        <a href="{{ data.tpleUrl }}" class="fe-outlink intro-txt2" title="새창열림" target="_blank"><button class="intro-bt">외식 할인</button></a>
                        <strong class="intro-tit">안내</strong>
                        <p class="intro-txt">2017년 1월 1일부터 가입이 중단되었습니다.</p>
                    </div>
                </div>
                <!--// .cont-box -->

                <hr class="cont-sp type1" aria-hidden="true"/>

                <!-- .cont-box -->
                <div class="cont-box">
                    <div class="card-box type-yellow">
                        <div class="card-inner">
                            <strong class="card-tit">COUPLE 카드</strong>
                            <span class="card-name2">1+1 혜택</span>
                            <p class="card-discount">영화·커피·공연 티켓을 구매하시면<br><strong>1+1으로 제공해 드리는 혜택</strong></p>
                        </div>
                    </div>
                    <div class="card-intro">
                        <strong class="intro-tit">주요 혜택</strong>
                        <a href="{{ data.coupleUrl }}" class="fe-outlink intro-txt2" title="새창열림" target="_blank"><button class="intro-bt">영화 1+1</button></a>
                        <ul class="intro-list">
                            <li>티켓 1장을 사면 1장 무료(연 2회)</li>
                            <li>매일 2,000원 할인</li>
                        </ul>
                        <a href="{{ data.coupleUrl }}" class="fe-outlink intro-txt2" title="새창열림" target="_blank"><button class="intro-bt">커피 1+1</button></a>
                        <ul class="intro-list">
                            <li>할리스 커피 1잔을 사면 1잔 무료(연 2회)</li>
                            <li>아메리카노 또는 라떼 레귤러 사이즈</li>
                        </ul>
                        <a href="{{ data.coupleUrl }}" class="fe-outlink intro-txt2" title="새창열림" target="_blank"><button class="intro-bt">공연 1+1</button></a>
                        <ul class="intro-list">
                            <li>뮤지컬·연극·콘서트 티켓 최대 50% 할인</li>
                        </ul>
                        <a href="{{ data.coupleUrl }}" class="fe-outlink intro-txt2" title="새창열림" target="_blank"><button class="intro-bt">외식 할인</button></a>
                        <strong class="intro-tit">안내</strong>
                        <p class="intro-txt">2017년 1월 1일부터 가입이 중단되었습니다.</p>
                    </div>
                </div>
                <!--// .cont-box -->

            </div>
        </div>
        <!--// .container-wrap -->
        <!-- .popup-closeBtn -->
        <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
        <!--// .popup-closeBtn -->
    </div>
    <div class="popup-blind"></div>
</div>
