<div class="popup-page nobg tw-popup fixed-bottom"><!-- .fixed-bottom 하단에 고정된 버튼이 있는 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>가입상담 예약</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">

            <div class="fe-family_wrap" style="display: none" aria-hidden="true">
                <!-- 결합가족 목록 -->
                <div class="cont-box nogaps-btm">
                    <h3 class="suggest-tag-title" tabindex="0">결합가족 정보</h3>
                    <div class="list-comp-input-agree fusion">
                        <div class="widget">
                            <div class="widget-box check">
                                <ul class="select-list fe-family_list" role="group">
                                    {{#list}}
                                        <li>
                                            <div class="checkbox type01 deletebtn-box" role="checkbox" aria-checked="false" aria-labelledby="aria-comp-checkbox{{@index}}">
                                                <!-- 체크 상태가 아닐 경우 .checked 클래스 삭제, aria-checked="false" -->
                                                <input type="checkbox" name="family_checkbox{{@index}}" value=""
                                                       title="결합가족 정보{{@index}}" aria-hidden="true" />
                                                <!-- 체크상태일 경우 checked="false" -->
                                                <div class="comp-list-layout" id="aria-comp-checkbox{{@index}}" aria-hidden="true">
                                                    <div class="layout-text fusion-family">
                                                        <span class="mtext">
                                                        <strong>{{name}}</strong>
                                                            {{#if fam.leader}}
                                                                <i class="icon-f-delegate"><span class="blind">가족대표</span></i>{{/if}}
                                                            {{#if fam.parents}}
                                                                <i class="icon-parents"><span class="blind">부모</span></i>{{/if}}
                                                            {{#if fam.grandparents}}
                                                                <i class="icon-grandparents"><span class="blind">(증)조부모</span></i>{{/if}}
                                                            {{#if fam.grandchildren}}
                                                                <i class="icon-grandchildren"><span class="blind">손자녀</span></i>{{/if}}
                                                            {{#if fam.spouse}}<i class="icon-partner"><span class="blind">배우자</span></i>{{/if}}
                                                            {{#if fam.children}}<i class="icon-children"><span class="blind">자녀</span></i>{{/if}}
                                                            {{#if fam.brother}}<i class="icon-brother"><span class="blind">형제자매</span></i>{{/if}}
                                                            {{#if fam.me}}<i class="icon-me"><span class="blind">본인</span></i>{{/if}}
                                                        </span>
                                                        {{#if number}}<span class="ntext">{{number}}</span>{{/if}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bt-alone bt-alone-absolute"><button class="bt-line-gray1 fe-btn_family_del">삭제</button></div>
                                        </li>
                                    {{/list}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--//결합가족 목록 -->
            </div>

            <div class="ti-caption-gray">
                <h3 class="tit" id="fe-add-family" tabindex="0">결합가족 입력</h3>
            </div>

            <!-- .cont-box -->
            <div class="cont-box">
                <ul class="form-data-list fe-family_add_wrap">
                    <li>
                        <label class="tit" for="flab01" aria-hidden="true">가족관계</label>
                        <span class="inputbox">
                            <button id="flab01" class="bt-dropdown big fe-btn_family_type" title="선택" aria-haspopup="true">선택<span class="ico"></span></button>
                        </span>
                    </li>
                    <li>
                        <label class="tit" for="flab03" aria-hidden="true">이름</label>
                        <span class="inputbox">
                            <span class="input">
                                <input id="flab03" class="fe-input_name" type="text" placeholder="이름 입력" title="이름 입력" maxlength="6" />
                                <button class="fe-btn_cancel cancel"><span class="blind">삭제</span></button>
                            </span>
                        </span>
                    </li>
                    <li>
                        <label class="tit" for="flab05" aria-hidden="true">휴대폰 번호</label>
                        <span class="inputbox">
                            <span class="input">
                                <input id="flab05" class="fe-input_phone_number" type="tel" placeholder="숫자만 입력" title="숫자만 입력" pattern="[0-9]*" inputmode="numeric">
                                <button class="fe-btn_cancel cancel"><span class="blind">삭제</span></button>
                            </span>
                        </span>
                    </li>
                </ul>
                <ul class="bt-slice mt30">
                    <li class="bt-gray1">
                        <button class="fe-btn_family_add" disabled="disabled">추가하기</button>
                    </li>
                </ul>
            </div>
            <!--// .cont-box -->

            <div class="ti-caption-gray">
                <h3 class="tit">필요서류 첨부</h3>
            </div>
            <!-- .cont-box -->
            <div class="cont-box">
                <div class="cont-noti pt8">
                    <span class="type3">가족관계증명서, 주민등록등본, 제적등본, 건강보험증(의료보험증), 혼인관계증명서, 혼인신고접수증 중 1개 제출 가능</span>
                </div>
                <div class="file-wrap type1 pt20">
                    <div class="widget">
                        <div class="widget-box file">
                            <span class="inputbox bt-add inp-btn">
                                <span class="input" aria-hidden="true">
                                    <input class="fileview fe-explain_file_view" type="text" placeholder="서류를 등록해 주세요" title="필요서류 첨부"/>
                                </span>
                                <span class="space"></span>
                                <span class="bt-box">
                                    <span aria-hidden="true">파일찾기</span>
                                    <input class="file fe-explain_file" type="file" title="필요서류 첨부" value="파일찾기"/>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="cont-noti pt20">
                    <ul class="bullet-type">
                        <li>첨부파일은 최대 5개까지 등록하실 수 있으며, 한 파일당 최대 용량은 2MB입니다.</li>
                        <li>이미지 (jpg, jpeg, png, gif) 파일을 첨부할 수 있습니다.</li>
                    </ul>
                </div>
                <ul class="bt-slice pt30">
                    <li class="bt-gray1">
                        <button class="fe-btn_explain_file_add" disabled="disabled">추가하기</button>
                    </li>
                </ul>
            </div>
            <!--// .cont-box -->

            <div class="fe-file_wrap" style="display: none" aria-hidden="true">
                <hr class="cont-sp type1" aria-hidden="true"/>

                <!-- .cont-box -->
                <div class="cont-box">
                    <h3>첨부된 서류</h3>
                    <div class="basic-list li-line one-line pt10">
                        <ul class="fe-file_list">
                        </ul>
                    </div>
                </div>
                <!--// .cont-box -->
            </div>

            <div class="bt-fixed-area">
                <ul class="bt-slice full">
                    <li class="bt-red1">
                        <button disabled="disabled" class="fe-btn_explain_apply">신청하기</button>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>