<div class="popup tw-popup">
    <div class="popup-page nobg layer"><!-- .no-btn 하단에 버튼이 없을 경우 -->
        <!-- #header -->
        <div class="header-wrap">
            <div class="page-header">
                <div class="header-ti align-l">
                    <h1>인증방식 선택</h1>
                </div>
            </div>
        </div>
        <!--// #header -->
        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <!-- .cont-box -->
                <div class="cont-box bgnone">
                    <div class="box-certifi-card">
                        {{#if data.isWelcome}}
                            {{#if data.masking}}
                                <p class="certifi-ti-big t-blt">고객님의 정보 보호를 위해 인증을 하셔야 가려진 정보를 조회하실 수 있습니다.</p>
                                <p class="certifi-ti-big t-blt">회선 별 고객정보 기준으로 로그아웃 전까지 유지됩니다.</p>
                                <p class="certifi-ti-big pt15">아래 인증방식 중 하나를 선택해 주세요.</p>
                            {{else if data.sLogin}}
                                <p class="certifi-ti-big t-blt">간편 로그인으로 서비스 이용중인 고객님은 인증을 하셔야 이용이 가능합니다.</p>
                                <p class="certifi-ti-big pt15">아래 인증방식 중 하나를 선택해 주세요.</p>
                            {{else}}
                                <p class="certifi-ti-big pt15">아래 인증방식 중 한가지를 선택해 주세요.</p>
                            {{/if}}
                        {{else}}
                            <p class="certifi-ti-big pt15">아래 인증방식 중 한가지를 선택해 주세요.</p>
                        {{/if}}
                        <ul class="certifi-card-list mt28 {{data.cntClass}}"><!-- li 행별 최대 갯수 : 1개 .one, 2개 .two, 3개 .three -->
                            {{#if data.methods.skSms.use}}
                            <li class="{{#if data.methods.skSms.block}}lock{{/if}}">
                                {{#if data.methods.skSms.block}}
                                <div class="lock-layer">
                                    <div class="txtBox">
                                        <img src="{{cdn}}/img/common/lock_layer_icon.png" alt="점검중 느낌표 아이콘">
                                        <p>점검 중</p>
                                    </div>
                                </div>
                                {{/if}}
                                <button id="fe-bt-sk">
                                    <span class="ico-certifi-card type05" aria-hidden="true"></span>
                                    <span class="certifi-card-tx"><span class="tx">SKT 텔레콤<br />SMS 인증</span></span>
                                </button>
                            </li>
                            {{/if}}
                            {{#if data.methods.otherSms.use}}
                            <li class="{{#if data.methods.otherSms.block}}lock{{/if}}">
                                {{#if data.methods.otherSms.block}}
                                <div class="lock-layer">
                                    <div class="txtBox">
                                        <img src="{{cdn}}/img/common/lock_layer_icon.png" alt="점검중 느낌표 아이콘">
                                        <p>점검 중</p>
                                    </div>
                                </div>
                                {{/if}}
                                <button id="fe-bt-kt">
                                    <span class="ico-certifi-card type06" aria-hidden="true"></span>
                                    <span class="certifi-card-tx"><span class="tx">KT 인증</span></span>
                                </button>
                            </li>
                            <li class="{{#if data.methods.otherSms.block}}lock{{/if}}">
                                {{#if data.methods.otherSms.block}}
                                <div class="lock-layer">
                                    <div class="txtBox">
                                        <img src="{{cdn}}/img/common/lock_layer_icon.png" alt="점검중 느낌표 아이콘">
                                        <p>점검 중</p>
                                    </div>
                                </div>
                                {{/if}}
                                <button id="fe-bt-lg">
                                    <span class="ico-certifi-card type07" aria-hidden="true"></span>
                                    <span class="certifi-card-tx"><span class="tx">LG U+ 인증</span></span>
                                </button>
                            </li>
                            {{/if}}
                            {{#if data.methods.save.use}}
                            <li class="{{#if data.methods.save.block}}lock{{/if}}">
                                {{#if data.methods.save.block}}
                                <div class="lock-layer">
                                    <div class="txtBox">
                                        <img src="{{cdn}}/img/common/lock_layer_icon.png" alt="점검중 느낌표 아이콘">
                                        <p>점검 중</p>
                                    </div>
                                </div>
                                {{/if}}
                                <button id="fe-bt-save">
                                    <span class="ico-certifi-card type04" aria-hidden="true"></span>
                                    <span class="certifi-card-tx"><span class="tx">알뜰폰 SMS<br />인증</span></span>
                                </button>
                            </li>
                            {{/if}}
                            {{#if data.methods.publicCert.use}}
                            <li class="{{#if data.methods.publicCert.block}}lock{{/if}}">
                                {{#if data.methods.publicCert.block}}
                                <div class="lock-layer">
                                    <div class="txtBox">
                                        <img src="{{cdn}}/img/common/lock_layer_icon.png" alt="점검중 느낌표 아이콘">
                                        <p>점검 중</p>
                                    </div>
                                </div>
                                {{/if}}
                                <button id="fe-bt-public">
                                    <span class="ico-certifi-card type02" aria-hidden="true"></span>
                                    <span class="certifi-card-tx"><span class="tx">공인인증서<br />인증</span></span>
                                </button>
                            </li>
                            {{/if}}
                            {{#if data.methods.ipin.use}}
                            <li class="{{#if data.methods.ipin.block}}lock{{/if}}">
                                {{#if data.methods.ipin.block}}
                                <div class="lock-layer">
                                    <div class="txtBox">
                                        <img src="{{cdn}}/img/common/lock_layer_icon.png" alt="점검중 느낌표 아이콘">
                                        <p>점검 중</p>
                                    </div>
                                </div>
                                {{/if}}
                                <button id="fe-bt-ipin">
                                    <span class="ico-certifi-card type03" aria-hidden="true"></span>
                                    <span class="certifi-card-tx"><span class="tx">아이핀 인증</span></span>
                                </button>
                            </li>
                            {{/if}}
                            {{#if data.methods.bio.use}}
                            <li class="{{#if data.methods.bio.block}}lock{{/if}}">
                                {{#if data.methods.bio.block}}
                                <div class="lock-layer">
                                    <div class="txtBox">
                                        <img src="{{cdn}}/img/common/lock_layer_icon.png" alt="점검중 느낌표 아이콘">
                                        <p>점검 중</p>
                                    </div>
                                </div>
                                {{/if}}
                                <button id="fe-bt-bio">
                                    <span class="ico-certifi-card type01" aria-hidden="true"></span>
                                    <span class="certifi-card-tx"><span class="tx">생체인증</span></span>
                                </button>
                            </li>
                            {{/if}}
                        </ul>
                    </div>
                </div>
                <!--// .cont-box -->
            </div>
        </div>
        <!--// .container-wrap -->
        <!-- .popup-closeBtn -->
        <button class="popup-closeBtn fe-no-blind-close"><span class="blind">팝업 페이지 닫기</span></button>
        <!--// .popup-closeBtn -->
    </div>
    <div class="popup-blind"></div>
</div>
