<div class="popup-page tw-popup fixed-bottom" tabindex="-1">
    <div class="container-wrap">
        <div class="container">
            <div class="complete-wrap">
                <div class="title-box">
                    <i class="icon-complete-120"><span class="blind">complete</span></i>
                    <p class="tx-tit"><span class="tx-highlight pt10">{{{title}}}</span></p>
                </div>
                <div class="tx-contents">
                    {{#if codeTxt}}<p class="code-txt">{{codeTxt}}</p>{{/if}}
                    {{#if basicTxt}}<p class="basic-txt">{{basicTxt}}</p>{{/if}}
                    {{#if items}}
                        <div class="basic-list">
                            <ul>
                                {{#each items}}
                                    <li>
                                        <span class="title">{{key}}</span>
                                        <span class="tx-cont">{{{value}}}</span>
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                    {{/if}}
                    {{#if buttons}}
                        <ul class="bt-slice item-{{../buttonClass}}">
                            {{#each buttons}}
                                <li><a href="{{url}}" class="btn-round2 btn-style3">{{text}}</a></li>
                            {{/each}}
                        </ul>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

    <div class="bt-fixed-area">
        <ul class="bt-slice full">
        {{#if btnText}}
                <li><button type="button" class="btn-floating btn-style2 fe-btn_close">{{btnText}}</button></li>
        {{else}}
            <li class="bt-red1">
                <a type="button" href="/main/home" class="btn-floating btn-style2 fe-btn_close">홈으로</a>
            </li>
        {{/if}}
        </ul>
    </div>
</div>