<div class="popup-page tw-popup fixed-bottom" tabindex="-1">
    <div class="container-wrap">
        <div class="container">
            <div class="complete-wrap">
                <div class="title-box">
                    <i class="icon-complete-120" aria-hidden="true"><span class="blind">complete</span></i>
                    <p class="tx-tit">
                        {{#if data.prodNm}}
                            {{data.prodNm}}{{#if data.isBasFeeInfo}}({{data.basFeeInfo}}/부가세 포함){{/if}}<br>
                        {{/if}}
                        <span class="tx-highlight pt10">{{data.prodCtgNm}} {{data.typeNm}} 완료</span>
                    </p>
                </div>
                <div class="tx-contents">
                    {{#if data.basicTxt}}
                    <p class="basic-txt">{{breaklines data.basicTxt}}</p>
                    {{/if}}
                    <ul class="bt-slice {{data.btClass}}">
                        {{#data.btList}}
                        <li>
                            {{#if link}}
                            <a href="{{link}}" class="btn-round2 btn-style3 {{btClass}}">{{{txt}}}</a>
                            {{else}}
                            <button class="btn-round2 btn-style3 {{btClass}}">{{{txt}}}</button>
                            {{/if}}
                        </li>
                        {{/data.btList}}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bt-fixed-area">
        <ul class="bt-slice full">
            <li><button type="button" class="btn-floating btn-style2 tw-popup-closeBtn">확인</button></li>
        </ul>
    </div>
</div>
