<div class="popup-page tw-popup fixed-bottom"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>파일 첨부하기</h1>
            </div>
        </div>
    </div>
    <!--// #header -->

    <hr class="cont-sp type1" aria-hidden="true"><!-- 190831 리디자인_01 -->

    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- .cont-box -->
            <div class="cont-box noborder">
                <div class="file-wrap type1 ">
                    {{#each inputfile_num}}
                        <div class="widget mt10">
                            <div class="widget-box file">
                            <span class="inputbox bt-add inp-btn" data-index={{@index}}>
                                <span class="input">
                                    <input class="fileview" type="text" placeholder="파일 첨부"
                                           title="첨부파일 {{ @index }}" style="pointer-events: none;" value={{oldFile.name}} >
                                </span>
                                <span class="space"></span>
                                <span class="bt-box tod-type1">
                                    {{#if oldFile.name}}
                                        <button type="button" class="fe-file-button btn-round2 btn-style3" >삭제</button>
                                        <input class="file" type="file" value="파일찾기" disabled
                                               style="pointer-events: none;" {{{attr}}} />
                                    {{else}}
                                        <button type="button" class="fe-file-button btn-round2 btn-style3">파일 찾기</button>
                                        <input class="file" type="file" value="파일찾기" title="파일 찾기" {{{attr}}} />
                                    {{/if}}
                                </span>
                            </span>
                            </div>
                        </div>
                    {{/each}}

                </div>
                <div class="cont-noti mt20">
                    <ul class="bullet-type">
                        {{#warning_msg}}
                            <li class="{{point}}">{{{txt}}}</li>
                        {{/warning_msg}}
                    </ul>
                </div>
            </div>
            <!--// .cont-box -->
        </div>
        <div class="bt-fixed-area">
            <ul class="bt-slice full">
                <li class="bt-red1">
                    <button id="fe-upload-ok">적용하기</button>
                </li>
            </ul>
        </div>
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
