<div class="popup-page tw-popup txt-screed">
    <!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>리필 쿠폰 사용 요금제 확인</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!--  -->
            <div class="ti-caption-gray">
                <h3 class="tit">음성/데이터 리필하기 가능한 요금제</h3>
            </div>
            <div class="cont-box noborder">
                <ul class="text-list">
                    {{#each listAll}}
                    <li>
                        <h4 class="tit-type6">{{initial}}</h4>
                        <div class="cont-noti pt10">
                            <ul class="bullet-type type-m">
                                {{#each item}}
                                <li>{{prodNm}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <!--// -->
            <!--  -->
            <div class="ti-caption-gray">
                <h3 class="tit">데이터 리필하기 가능 요금제</h3>
            </div>
            <div class="cont-box noborder">
                <ul class="text-list">
                    {{#each listData}}
                    <li>
                        <h4 class="tit-type6">{{initial}}</h4>
                        <div class="cont-noti pt10">
                            <ul class="bullet-type type-m">
                                {{#each item}}
                                <li>{{prodNm}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <!--// -->
            <!--  -->
            <div class="ti-caption-gray">
                <h3 class="tit">음성 리필하기 가능 요금제</h3>
            </div>
            <div class="cont-box noborder">
                <ul class="text-list">
                    {{#each listVoice}}
                    <li>
                        <h4 class="tit-type6">{{initial}}</h4>
                        <div class="cont-noti pt10">
                            <ul class="bullet-type type-m">
                                {{#each item}}
                                <li>{{prodNm}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <!--// -->
        </div>
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn fe-common-back"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>