<div class="popup-page tw-popup fixed-btn fixed-bottom dwg-popup color-type-e">
    <!-- .container-wrap -->
    <div class="container-wrap">
        <div class="container" style="background-color:#632dc6;">
            <!-- 혜택 -->
            <h2 class="blind">해지</h2>
            <div class="dwg-typeImg-area pb0">
                <div class="img-wrap">
                    <img src="{{cdn}}/img/t_dwg/{{img}}" alt="{{imgAlt}}">
                </div>
            </div>
            <!-- 혜택 -->
        </div>
        
        <!-- button fixed -->
        <div class="bt-fixed-area dwg-dialog-area">
            <div class="dwg-dialog-btns">                    
                <div class="col">
                    <a href="#" class="btn-dialog-1 fe-btn_change" data-xt_eid="{{data_xt_eid1}}" data-xt_csid="NO" data-xt_action="BC"><span>지금 해지할래요</span></a>
                </div>
                <div class="col">
                    <a href="#" class="btn-dialog-2 fe-btn_close" data-xt_eid="{{data_xt_eid2}}" data-xt_csid="NO" data-xt_action="BC"><span>계속 이용할게요</span></a>
                </div> 
            </div>
        </div>
        <!-- //button fixed -->
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn" data-xt_eid="{{data_xt_eid3}}" data-xt_csid="NO" data-xt_action="BC"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>