{{#if param.[0].typeA}}
    <!--  A 타입 -->
    <div class="tod-ui-chabot2" data-scroll="true">
        <div class="tod-ui-chabot2-inner">
            <!-- button -->
            <!-- title -->
            <div class="title-wrap">
                    <div class="btn-tab">
                        <span class="tod-chatbot-img profile2"></span>
                        <span class="chatbot-tit"><strong>T월드 챗봇</strong>이 도와드릴까요?</span>
                    </div>
            </div>

            <!-- list -->
            <div class="list-wrap nowrap">
                <div class="list">            
                {{#each param.[0].greetingKeywordInfos}}
                    <button class="item bpcpItem {{keyword}}" data-url="{{linkUrl}}">
                        <span class="ico-chatbot {{keyword}}"><em class="tod-blind">Ai</em></span><span class="txt">{{message}}</span>
                    </button>
                {{/each}}
                </div>
            </div>
            <!-- 상담하기 삭제 1214-->
            {{!-- <div class="link-wrap">
                <button title="새창 열림" class="link-chatbot-go bpcpItem initial">챗봇으로 빠른 상담하기</button>
            </div> --}}
            <div class="close-wrap">
				<button class="btn-close"><span class="tod-blind">닫기</span></button>
			</div>
        </div>
    </div>
{{/if}}

{{#if param.[0].typeB}}
    <!--  B 타입 -->
    <div class="tod-combot-wrap">
        <div class="tod-combot-btn {{param.[0].greetingLines}}" {{#if param.[0].color}}data-color="{{param.[0].color}}" data-thema="{{param.[0].theme}}"{{/if}}>
			<span class="beta" aria-hidden="true"><span class="blind">beta</span></span> 
			{{#if param.[0].greetingKeywordInfos.[0].linkUrl}}
                {{#if (eq param.[0].greetingKeywordInfos.[0].keyword "vcoloring")}}
                    <button type="button" class="item fe-home-charge_open {{param.[0].greetingKeywordInfos.[0].keyword}}" data-url="{{param.[0].greetingKeywordInfos.[0].linkUrl}}" data-xt_eid="CMMA_A2_B66-5" data-xt_csid="NO" data-xt_action="BC" title="새 창 열림">
                {{else if (eq param.[0].greetingKeywordInfos.[0].keyword "xbox")}}
                    <button type="button" class="item fe-home-charge_open {{param.[0].greetingKeywordInfos.[0].keyword}}" data-url="{{param.[0].greetingKeywordInfos.[0].linkUrl}}" data-xt_eid="CMMA_A2_B66-5" data-xt_csid="NO" data-xt_action="BC" title="새 창 열림">
                {{else if (eq param.[0].greetingKeywordInfos.[0].keyword "galaxy_all")}}
                    <button type="button" class="item fe-home-charge_open {{param.[0].greetingKeywordInfos.[0].keyword}}" data-url="{{param.[0].greetingKeywordInfos.[0].linkUrl}}" title="새 창 열림">
                {{else if (eq param.[0].greetingKeywordInfos.[0].keyword "untactplan")}}
                    <button type="button" class="item fe-home-charge_open {{param.[0].greetingKeywordInfos.[0].keyword}}" data-url="{{param.[0].greetingKeywordInfos.[0].linkUrl}}" title="새 창 열림">
                {{else if (eq param.[0].greetingKeywordInfos.[0].keyword "newphone")}}
                    <button type="button" class="item fe-home-charge_open {{param.[0].greetingKeywordInfos.[0].keyword}}" data-url="{{param.[0].greetingKeywordInfos.[0].linkUrl}}" title="새 창 열림">
                {{else if (eq param.[0].greetingKeywordInfos.[0].keyword "iphone12series")}}
                    <button type="button" class="item fe-home-charge_open {{param.[0].greetingKeywordInfos.[0].keyword}}" data-url="{{param.[0].greetingKeywordInfos.[0].linkUrl}}" title="새 창 열림">
                {{else}}
                    <button type="button" class="item bpcpItemlink {{param.[0].greetingKeywordInfos.[0].keyword}}" data-url="{{param.[0].greetingKeywordInfos.[0].linkUrl}}">
                {{/if}}
            {{else}}
                <button type="button" class="item bpcpItem {{param.[0].greetingKeywordInfos.[0].keyword}}">
            {{/if}}
                 <span class="chat-icon profile1"></span>
                 <span class="chat-txt"><span class="inner">{{{param.[0].greetingKeywordInfos.[0].message}}}</span></span>
            </button>
            <button type="button" class="btn-close"><img src="{{param.[0].cdn}}/img/common/chatbot/button_close_bg_gray.svg" alt="닫기"></button>
        </div>
    </div>
{{/if}}

{{#if param.[0].typeC}}
    <!--  C 타입 -->
    <div class="tod-combot-ctype-wrap">
		<div class="tod-combot-ctype {{param.[0].greetingLines}}" data-color="{{param.[0].color}}"><!-- 개발 참고사항 : ctype 한줄 : class="tod-combot-ctype" / ctype 두줄 :  class="tod-combot-ctype twoline" / color 테마 : data-color="gray", data-color="purple" data-color="white" -->
			<span class="beta" aria-hidden="true"><span class="blind">beta</span></span>
			<div class="list-wrap">
				<ul class="ul-rolling">
                    {{#each param.[0].greetingKeywordInfos}} 
                        <li>
                            {{#if linkUrl}}
                                {{#if (eq keyword "vcoloring")}}
                                <button class="item fe-home-charge_open {{keyword}}" data-url="{{linkUrl}}" data-xt_eid="CMMA_A2_B66-5" data-xt_csid="NO" data-xt_action="BC" title="새 창 열림"><span class="ico-chatbot {{keyword}}"><em class="tod-blind">Ai</em></span><span class="txt">{{{message}}}</span></button>
                                {{else if (eq keyword "xbox")}}
                                <button class="item fe-home-charge_open {{keyword}}" data-url="{{linkUrl}}" data-xt_eid="CMMA_A2_B66-5" data-xt_csid="NO" data-xt_action="BC" title="새 창 열림"><span class="ico-chatbot {{keyword}}"><em class="tod-blind">Ai</em></span><span class="txt">{{{message}}}</span></button>
                                {{else if (eq keyword "galaxy_all")}}
                                <button class="item fe-home-charge_open {{keyword}}" data-url="{{linkUrl}}" title="새 창 열림"><span class="ico-chatbot pay_bill"><em class="tod-blind">Ai</em></span><span class="txt">{{{message}}}</span></button>
                                {{else if (eq keyword "untactplan")}}
                                <button class="item fe-home-charge_open {{keyword}}" data-url="{{linkUrl}}" title="새 창 열림"><span class="ico-chatbot pay_bill"><em class="tod-blind">Ai</em></span><span class="txt">{{{message}}}</span></button>
                                {{else if (eq keyword "newphone")}}
                                <button class="item fe-home-charge_open {{keyword}}" data-url="{{linkUrl}}" title="새 창 열림"><span class="ico-chatbot pay_bill"><em class="tod-blind">Ai</em></span><span class="txt">{{{message}}}</span></button>
                                {{else if (eq keyword "iphone12series")}}
                                <button class="item fe-home-charge_open {{keyword}}" data-url="{{linkUrl}}" title="새 창 열림"><span class="ico-chatbot pay_bill"><em class="tod-blind">Ai</em></span><span class="txt">{{{message}}}</span></button>
                                {{else}}
                                <button class="item bpcpItemlink {{keyword}}" data-url="{{linkUrl}}" data-xt_eid="CMMA_A2_B66-5" data-xt_csid="NO" data-xt_action="BC"><span class="ico-chatbot {{keyword}}"><em class="tod-blind">Ai</em></span><span class="txt">{{{message}}}</span></button>                                 
                                {{/if}}
                            {{else}}
                               <button class="item bpcpItem {{keyword}}"><span class="ico-chatbot {{keyword}}"><em class="tod-blind">Ai</em></span><span class="txt">{{{message}}}</span></button>
                            {{/if}}
                        </li>
                    {{/each}} 
				</ul>
			</div>
			<!-- x 버튼 -->
			<button type="button" class="btn-close"><span class="tod-blind">닫기</span></button>
		</div>
</div>
{{/if}}
 