<!-- .popup hbs -->
<div class="popup-page tw-popup nobg pt0"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <div class="cont-box noborder bgnone">
                <button class="bt-close fixed-size tw-popup-closeBtn"><span class="blind">닫기</span></button> <!--2019.03.12 버튼위치변경-->
                <div class="membership-card-box">
                    <span class="card-img"><img src="{{cdn}}/img/benefit/membership-card.png" alt="card"></span>

                    <strong class="card-tit">membership</strong>
                    <span class="rating {{data.mbrGr}}">{{data.mbrGrStr}}</span>
                    <div class="accrue">
                        연간 누적혜택
                        <p><strong>{{data.usedAmount}}</strong>원</p>
                    </div>
                    <div class="bar-code">
                        <img id="fe-membership-barcode-extend" alt="bar code">
                        <p class="bar-code-num">{{data.showCardNum}}</p>
                    </div>
                </div>

                <div class="membership-event-box">
                    <div class="main-slide-banner tod-bann-auto">
                        <!-- .widget -->
                        <div class="widget">
                            <div class="widget-box">
                                <div class="slider-box">
                                    <ul class="slider" data-location="7">
                                        <!--<li>-->
                                            <!--<button>-->
                                                <!--<img src="{{cdn}}/img/benefit/membership-bar-event01.png" alt="멤버십 할인과 휴대전화 결제를 한번에! T pay 가입하기">-->
                                            <!--</button>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<button>-->
                                                <!--<img src="{{cdn}}/img/benefit/membership-bar-event01.png" alt="멤버십 할인과 휴대전화 결제를 한번에! T pay 가입하기">-->
                                            <!--</button>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<button>-->
                                                <!--<img src="{{cdn}}/img/benefit/membership-bar-event01.png" alt="멤버십 할인과 휴대전화 결제를 한번에! T pay 가입하기">-->
                                            <!--</button>-->
                                        <!--</li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--// .widget -->
                    </div>
                </div>
                <!--<button class="bt-close fixed-b tw-popup-closeBtn"><span class="blind">닫기</span></button>-->
            </div>
        </div>
    </div>
    <!--// .container-wrap -->
</div>
<!--// .popup hbs -->