<!-- .popup hbs -->
<div class="popup-page tw-popup nobg txt-screed"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>T알림</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    {{#if data.list}}
    <div class="container-wrap pb0">
        <div class="container">
            {{#each data.list}}
            {{#if showImage}}
            <div class="cont-box bgnone noborder fe-list-item {{#unless isShow}}none{{/unless}}">
                <div class="t-logo-alarm">
                    <i class="icon-bi-skt-80" aria-hidden="true"><span class="blind"></span></i>T world
                </div>
                <div class="shadow-box mt8">
                    <div class="alarm_list">
                        <div class="banner-box">
                            <img src="{{imgFileNm}}" alt="">
                        </div>
                        <div class="con-box">
                            <p class="con0">
                                <span>{{showDate}}</span>
                                <span>{{showTime}}</span>
                            </p>
                            <p class="con1"><strong>{{pushTitle}}</strong><br>{{pushContents}}</p>
                        </div>
                        {{#if hasUrl}}
                            <button data-link="{{imgLinkUrl}}" data-link-type="{{imgLinkUseCl}}" class="detail-view fe-bt-link" {{#if isExternal}}title="새창"{{/if}}>바로가기<i class="detail-view-ic"></i></button>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{else}}
                <div class="cont-box bgnone noborder fe-list-item {{#unless isShow}}none{{/unless}}">
                <div class="t-logo-alarm">
                    <i class="icon-bi-skt-80"><span class="blind"></span></i>T world
                </div>
                <div class="shadow-box mt8">
                    <div class="alarm_list">
                        <div class="con-box">
                            <p class="con0">
                                <span>{{showDate}}</span>
                                <span>{{showTime}}</span>
                            </p>
                            <p class="con1"><strong>{{pushTitle}}</strong><br>{{pushContents}}</p>
                        </div>
                        {{#if hasUrl}}
                        <button data-link="{{imgLinkUrl}}" data-link-type="{{imgLinkUseCl}}" class="detail-view fe-bt-link" {{#if isExternal}}title="새창"{{/if}}>바로가기<i class="detail-view-ic"></i></button>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/if}}
            {{/each}}
            {{#if data.showMore}}
            <div class="extraservice-more">
                <button id="fe-bt-more" class="btn">더보기</button>
            </div>
            {{/if}}
        </div>
    </div>
    {{else}}
    <div class="container-wrap">
        <div class="container">
            <div class="complete-wrap">
                <div class="title-box">
                    <i class="icon-warning-120"><span class="blind">warning</span></i>
                    <p class="tx-tit"><span class="tx-highlight">아직 도착한 T알림이 없습니다.</span></p>
                </div>
                <div class="tx-contents">
                    <p class="basic-txt">혹시 T알림 설정을 꺼두셨나요?</p>
                    <ul class="bt-slice item-one">
                        <li><button id="fe-bt-go-setting" type="button" class="btn-round2 btn-style3">T알림 설정 바로가기</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
<!--// .popup hbs -->