<!-- .popup hbs -->
<div class="popup-page tw-popup fixed-bottom nobg"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>MY 바로가기 편집</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <div class="container">

            <div class="section-menu-box">
                <div class="reset-top-box">
                    <button id="fe-bt-reset" class="reset"><i class="icon-reload-32"><span class="blind">reload</span></i> 초기화</button>
                </div>
                <ul class="menu-depth1">
                    {{#each data}}
                    <li class="depth1-type1">
                        <label for="{{menuId}}" class="bt fe-label-menu" aria-checked="{{#if quickAdded}}true{{else}}false{{/if}}"><!-- 체크 상태일 경우 aria-checked="true" -->
                            <span class="ico"><img src="{{../cdn}}{{iconImgFilePathNm}}" alt=""></span> {{menuNm}}
                            <span class="custom-form"><input class="fe-input-menu" type="checkbox" id="{{menuId}}" {{#if quickAdded}}checked="checked"{{/if}} data-menuid="{{menuId}}"><span class="c-type1"></span></span><!-- 체크상태일 경우 checked="checked" -->
                        </label>
                        {{#if hasChildren}}
                        {{#each children}}
                        {{#if hasChildren}}
                        <div class="depth2">
                            <strong class="ti">{{menuNm}}</strong>
                            <ul>
                                {{#each children}}
                                <li>
                                    <label for="{{menuId}}" class="bt fe-label-menu" aria-checked="{{#if quickAdded}}true{{else}}false{{/if}}"><!-- 체크 상태일 경우 aria-checked="true" -->
                                        {{menuNm}}
                                        <span class="custom-form"><input class="fe-input-menu" type="checkbox" id="{{menuId}}"><span class="c-type1" {{#if quickAdded}}checked="checked"{{/if}} data-menuid="{{menuId}}"></span></span><!-- 체크상태일 경우 checked="checked" -->
                                    </label>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        {{else}}
                        <ul class="depth2">
                            <li>
                                <label for="{{menuId}}" class="bt fe-label-menu" aria-checked="{{#if quickAdded}}true{{else}}false{{/if}}"><!-- 체크 상태일 경우 aria-checked="true" -->
                                    {{menuNm}}
                                    <span class="custom-form"><input class="fe-input-menu" type="checkbox" id="{{menuId}}" {{#if quickAdded}}checked="checked"{{/if}} data-menuid="{{menuId}}"><span class="c-type1"></span></span><!-- 체크상태일 경우 checked="checked" -->
                                </label>
                            </li>
                        </ul>
                        {{/if}}
                        {{/each}}
                        {{/if}}
                    </li>
                    {{/each}}
                </ul>
            </div>

            <div class="menu-guide-img">
                <img src="{{cdn}}/img/dummy/menu-guide1.png" alt="이렇게 이용하세요 원하는 메뉴를 체크 후 저장하면, 바로가기 버튼이 추가됩니다. 체크 해제 시에는 버튼이 삭제됩니다."/>
                <img src="{{cdn}}/img/dummy/menu-guide2.png" alt="각 화면에서도 추가할 수 있어요. 화면 하단의 아이콘을 선택하면, 바로가기 버튼이 추가됩니다."/>
            </div>
        </div>
        <div class="bt-fixed-area">
            <ul class="bt-slice full">
                <li class="bt-red1">
                    <button id="fe-bt-complete">저장하기</button>
                </li>
            </ul>
        </div>
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button id="fe-bt-close" class="prev-step"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>