<!-- .popup hbs -->
<div class="popup-page tw-popup fixed-bottom h60"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>생체인증 등록/재등록</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- .cont-box -->
            <div class="cont-box">
                <!-- .widget -->
                <div class="widget">
                    <div class="widget-box step">
                        <h3 class="step-ti"><em>STEP 02</em>본인확인</h3>
                        <ul class="step-list">
                            <li>1<span class="blind">약관동의</span></li>
                            <li class="on">2<span class="blind">본인확인</span></li>
                            <li>3<span class="blind">생체정보 등록</span></li>
                        </ul>
                    </div>
                </div>
                <!-- //.widget -->
            </div>
            <!--// .cont-box -->
            <hr class="cont-sp type1" aria-hidden="true"/>
            <!-- .cont-box -->
            <div class="cont-box nogaps">
                <div class="box-certifi-list">
                    <ul class="certifi-sel-list">
                        <li class="{{#if data.methods.skSms.block}}lock{{/if}}">
                            {{#if data.methods.skSms.block}}
                                <div class="lock-layer">
                                    <div class="txtBox">
                                        <img src="{{cdn}}/img/common/lock_layer_icon.png" alt="점검중 느낌표 아이콘">
                                        <p>점검 중</p>
                                    </div>
                                </div>
                            {{/if}}
                            <button id="fe-bt-sk">
                                <span class="list-cell">
                                    <span class="ico-certifi-list type01" aria-hidden="false"></span>
                                </span>
                                <span class="list-cell">
                                    <span class="list-ti">SK텔레콤 SMS 인증</span>
                                    <span class="list-tx">고객님 명의의 SK텔레콤 휴대폰 번호로 SMS 인증합니다.</span>
                                </span>
                                <span class="ico"><span class="blind">더보기</span></span><!-- 웹접근성 수정 -->
                            </button>
                        </li>
                        <li class="{{#if data.methods.otherSms.block}}lock{{/if}}">
                            {{#if data.methods.otherSms.block}}
                                <div class="lock-layer">
                                    <div class="txtBox">
                                        <img src="{{cdn}}/img/common/lock_layer_icon.png" alt="점검중 느낌표 아이콘">
                                        <p>점검 중</p>
                                    </div>
                                </div>
                            {{/if}}
                            <button id="fe-bt-kt" title="새창">
                                <span class="list-cell">
                                    <span class="ico-certifi-list type02" aria-hidden="false"></span>
                                </span>
                                <span class="list-cell">
                                    <span class="list-ti">KT SMS 인증</span>
                                    <span class="list-tx">고객님 명의의 KT 휴대폰 번호로  SMS 인증합니다.</span>
                                </span>
                                <span class="ico"><span class="blind">더보기</span></span><!-- 웹접근성 수정 -->
                            </button>
                        </li>
                        <li class="{{#if data.methods.otherSms.block}}lock{{/if}}">
                            {{#if data.methods.otherSms.block}}
                                <div class="lock-layer">
                                    <div class="txtBox">
                                        <img src="{{cdn}}/img/common/lock_layer_icon.png" alt="점검중 느낌표 아이콘">
                                        <p>점검 중</p>
                                    </div>
                                </div>
                            {{/if}}
                            <button id="fe-bt-lg" title="새창">
                                <span class="list-cell">
                                    <span class="ico-certifi-list type03" aria-hidden="false"></span>
                                </span>
                                <span class="list-cell">
                                    <span class="list-ti">LG U+ 인증</span>
                                    <span class="list-tx">고객님 명의의 LG U+ 휴대폰 번호로 SMS 인증합니다.</span>
                                </span>
                                <span class="ico"><span class="blind">더보기</span></span><!-- 웹접근성 수정 -->
                            </button>
                        </li>
                        <li class="{{#if data.methods.ipin.block}}lock{{/if}}">
                            {{#if data.methods.ipin.block}}
                                <div class="lock-layer">
                                    <div class="txtBox">
                                        <img src="{{cdn}}/img/common/lock_layer_icon.png" alt="점검중 느낌표 아이콘">
                                        <p>점검 중</p>
                                    </div>
                                </div>
                            {{/if}}
                            <button id="fe-bt-ipin" title="새창">
                                <span class="list-cell">
                                    <span class="ico-certifi-list type04" aria-hidden="false"></span>
                                </span>
                                <span class="list-cell">
                                    <span class="list-ti">아이핀 인증</span>
                                    <span class="list-tx">고객님 명의의 아이핀으로 인증합니다.</span>
                                </span>
                                <span class="ico"><span class="blind">더보기</span></span><!-- 웹접근성 수정 -->
                            </button>
                        </li>
                        <li class="{{#if data.methods.publicCert.block}}lock{{/if}}">
                            {{#if data.methods.publicCert.block}}
                                <div class="lock-layer">
                                    <div class="txtBox">
                                        <img src="{{cdn}}/img/common/lock_layer_icon.png" alt="점검중 느낌표 아이콘">
                                        <p>점검 중</p>
                                    </div>
                                </div>
                            {{/if}}
                            <button id="fe-bt-public" title="새창">
                                <span class="list-cell">
                                    <span class="ico-certifi-list type06" aria-hidden="false"></span>
                                </span>
                                <span class="list-cell">
                                    <span class="list-ti">공인인증서 인증</span>
                                    <span class="list-tx">고객님 명의의 범용/금융거래용 공인인증서로 인증합니다.</span>
                                </span>
                                <span class="ico"><span class="blind">더보기</span></span><!-- 웹접근성 수정 -->
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <!--// .cont-box -->
        </div>
        <div class="bt-fixed-area">
            <ul class="bt-slice full">
                <li class="bt-red1">
                    <button class="tw-popup-closeBtn">이전</button>
                </li>
            </ul>
        </div>
    </div>
    <!-- // .container-wrap -->
    <!-- .popup-closeBtn -->
    <button id="fe-cancel" class="prev-step">취소</button>
    <!--// .popup-closeBtn -->
</div>
<!-- // .popup hbs -->