<div class="popup-page tw-popup nobg">
     <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>상세내역</h1>
            </div>
        </div>
    </div>
    <div id="contents" class="container-wrap">
        <div class="container">
            {{#if payTime}}
            <div class="payment-detail-wrap">
				<div class="payment-detail-box">
                    <div class="detail-inner">
                        <div class="detail-list">
                            <ul>
                                <li>
                                    <div>
                                        <span class="title">서비스업체</span>
                                        <span class="tx-cont">{{useServiceCompany}}</span>
                                    </div>
                                    <div>
                                        <ul class="inner-list">
                                            <li>
                                                <span class="title">이용서비스</span>
                                                <span class="tx-cont">{{useServiceNm}}</span>
                                            </li>
                                            <li>
                                                <span class="title">구분</span>
                                                <span class="tx-cont">{{payFlag}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <span class="title">결제금액</span>
                                    <span class="tx-cont">{{useAmt}} <span class="tx-regular">원</span></span>
                                </li>
                                <li>
                                    <span class="title">이용내역문의처</span>
                                    <span class="tx-cont">{{useServiceCompanyTel}}</span>
                                </li>
                                <li>
                                    <span class="title">일시</span>
                                    <span class="tx-cont">{{FullDate}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
			</div>
            {{else}}
            <div class="cont-box nogaps-hoz">
                <div class="result-none type2">상세 내역을 조회할 수 없습니다.</div>
            </div>
            {{/if}}

            <p class="payment-detail-btm-info">
                    콘텐츠이용료 주요 고객센터 안내
            </p>
            <ul class="custom-guide">
                <li>
                    <dl>
                        <dt>구글플레이스토어</dt>
                        <dd>080-234-0051(무료)</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>원스토어</dt>
                        <dd>1600-6573(유료)</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>삼성스토어</dt>
                        <dd>1588-3366(유료)</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>옥수수</dt>
                        <dd>080-8282-106(무료)</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>멜론</dt>
                        <dd>1566-7727(유료)</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>유튜브 프리미엄</dt>
                        <dd>유튜브(YouTube)하단 도움말→의견 보내기
                            <a href="https://support.google.com/youtube/contact/commerce_contact?hl=ko&cfsi=subs_red_2 " class="fe-link-external" target="_blank" title="새창열림">고객센터 바로가기</a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>Apple</dt>
                        <dd>
                            <a href="http://itunes.com/bill" class="fe-link-external" target="_blank" title="새창열림">http://iTunes.com/bill</a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <!--// #header -->
    <!-- .popup-closeBtn -->
    <button class="prev-step tw-popup-closeBtn">취소</button>
    <!--// .popup-closeBtn -->
</div>
