<%#
* @file MS_01.hbs
* @author Kim, Hansoo (skt.p148890@partner.sk.com)
* @since 2019.12.11
_%>
<!-- .popup hbs -->
<div class="popup-page tw-popup nobg"><!-- 기본배경색은 white, 회색배경색은 .nobg --><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... --><!-- 타이틀 2줄로 적용시 .txt2-popup -->
    <!-- #header -->
    <div class="header-wrap"><!-- 보더라인 없을 경우 .noborder -->
        <div class="page-header">
            <div class="header-ti">
                <h1>개통정보 조회</h1>
            </div>
            <div class="header-mask">
                <button type="button" class="btn-mask"><span class="blind">마스킹 해제</span></button><!-- 선택됨 : .seleted,  선택불가 : .disabled // -->
            </div>
            <!--<% if (svcInfo && locals.pageInfo && pageInfo.auth && pageInfo.auth.cert && pageInfo.auth.cert.maskRlseYn === 'Y') { %>
            <div class="header-mask">
                <% if (pageInfo.masking) { %>
                <button type="button" class="btn-mask disabled"><span class="blind">마스킹 해제불가</span></button>
                <% } else { %>
                <button type="button" class="btn-mask fe-bt-masking"><span class="blind">마스킹 해제하기</span>
                <% } %>
            </div>
            <% } %>-->
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 id="contents-area" tabindex="-1"><span class="blind">본문시작</span></h2>
        <div class="container">
            <hr class="cont-sp type1" aria-hidden="true"/>

            <!-- .cont-box -->
            <div class="cont-box">
                <!-- 개통/변경이력 -->
                <div class="ti-caption-type01 pb10">
                    <h3 class="tit">개통/변경이력</h3>
                </div>

                <!-- 2007년 3월 1일 이전가입자 인 경우 -->
                {{#if true}}
                <div class="basic-list bg-type mb30">
                    <p>2007년 3월 1일 이전 가입 고객은 SK텔레콤 지점/대리점에서 확인 가능합니다.</p>
                </div>
                {{/if}}

                <!-- 이후 가입자 : <마스킹 해제 전>  *** 로 표기 / <마스킹 해제 후> 데이타 노출 -->
                <div class="basic-list bg-type mb30">
                    <ul>
                        <li>
                            <span class="title">신규가입</span>
                            <span class="tx-cont">{{'2011.07.06'}}</span>
                        </li>
                        <li>
                            <span class="title">명의변경</span>
                            <span class="tx-cont">{{'2011.07.06'}}</span>
                        </li>
                        <li>
                            <span class="title">기기변경</span>
                            <span class="tx-cont">{{'2011.07.06'}}</span>
                        </li>
                    </ul>
                </div>
                <!-- //개통/변경이력 -->

                <!-- 최종가입점 : <마스킹 해제 전>  *** 로 표기 / <마스킹 해제 후> 데이타 노출 -->
                <div class="ti-caption-type01 pb0">
                    <h3 class="tit">최종가입점</h3>
                    {{#if true}}
                    <div class="tod-fright">
                        <a href="/customer/agentsearch/detail?code=" class="bt-link-tx underline small">위치찾기</a>
                    </div>
                    {{/if}}
                </div>
                <div class="basic-list bg-type">
                    <ul>
                        <li>
                            <span class="title">가입점</span>
                            <span class="tx-cont">{{'신촌지점'}}</span>
                        </li>
                        <li>
                            <span class="title">가입상담자</span>
                            <span class="tx-cont">{{'김동환'}}</span>
                        </li>
                        <li>
                            <span class="title">연락처</span>
                            <span class="tx-cont">{{'02-934-7425'}}</span>
                        </li>
                    </ul>
                </div>
                <!-- //최종가입점 -->
            </div>
            <!--// .cont-box -->

            <!-- 꼭 확인해 주세요 -->
            <div class="cont-box noborder bgnone">
                <h3 class="pg-chk-tit">꼭 확인해 주세요</h3>
                <ul class="pg-chk-list02">
                    <li><button class="btn-tip" aria-haspopup="true" id="MS_01_tip_01">개통/변경이력 조회란?<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
                    <li><button class="btn-tip" aria-haspopup="true" id="MS_01_tip_02">기기변경  이력<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
                    <li><button class="btn-tip" aria-haspopup="true" id="MS_01_tip_03">장기가입 고객 선정기준일 정보<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
                    <li><button class="btn-tip" aria-haspopup="true" id="MS_01_tip_04">기타 자세한 문의사항<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
                </ul>
            </div>

        </div>
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
<!--// .popup hbs -->