<div class="popup tw-popup">
    <div class="popup-page nobg layer">
        <!-- #header -->
        <div class="header-wrap">
            <div class="page-header">
                <div class="header-ti align-l">
                    <h1>법정대리인 동의하기</h1>
                </div>
                <!-- .popup-closeBtn -->
                <button class="popup-closeBtn fe-no-blind-close"><span class="blind">팝업 페이지 닫기</span></button>
                <!--// .popup-closeBtn -->
            </div>
        </div>
        <!--// #header -->
        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <!-- .cont-box -->
                <div class="cont-box nogaps-top">
                    <div class="sms-confirm-box">
                        <h3 class="tit-type3 bk">문자인증</h3>
                        <div class="sms-confirm-des tx-black3">미성년자는 법정대리인의 동의(문자 인증)가 있어야 해당 서비스를 이용하실 수 있습니다. </div>
                        <ul class="form-data-list pt26">
                            <li>
                                {{#if one}}
                                <label class="tit">휴대폰번호</label>
                                <div class="inputbox bt-add inp-btn pt6">
                                    <span class="input">
                                        <input id="fe-input-mdn" type="text" value="{{ list.0.txt }}" title="휴대폰번호" aria-describedby="aria-phone-tx1" readonly="readonly">
                                    </span>
                                        <span class="bt-box">
                                        <button id="fe-bt-cert" type="button">인증번호 받기</button>
                                    </span>
                                </div>
                                <span class="tx-box">
                                    <span id="fe-txt-cert" class="validation-txt none">정상적으로 발송되었습니다.</span>
                                    <span id="fe-error-cert-time" class="error-txt none">재전송 제한시간(1분)이 지난 후에 이용해 주세요.</span>
                                    <span id="fe-error-cert-cnt" class="error-txt none">제한시간 내 인증번호를 보낼 수 있는 횟수가 넘었습니다.</span>
                                </span>
                                {{else}}
                                <label class="tit">휴대폰번호 선택</label>
                                <div class="rdo-list-type pt6">
                                    <div class="inputbox">
                                        <div class="widget">
                                            <div class="widget-box radio">
                                                <ul class="select-list" role="radiogroup">
                                                    {{#each list}}
                                                        <li class="radiobox type01 {{option}} fe-radio-list" role="radio" aria-checked="false" data-index="{{@index}}">
                                                            <input type="radio" name="radio1" value="" title="{{txt}}" {{option}} aria-describedby="aria-phone-tx1" data-index="{{@index}}"/>
                                                            {{txt}}
                                                        </li>
                                                    {{/each}}
                                                </ul>
                                            </div>
                                        </div>
                                        <span class="bt-box pt20 disabled">
                                            <button id="fe-bt-cert" type="button" disabled>인증번호 받기</button>
                                        </span>
                                        <span id="fe-txt-cert" class="tx-box none">
                                            <span id="aria-phone-tx1" class="validation-txt">정상적으로 발송되었습니다.</span><!-- 정상 작동되지 않을때는 .none 추가 -->
                                        </span>
                                        <span id="fe-error-cert-time" class="error-txt none">재전송 제한시간(1분)이 지난 후에 이용해 주세요.</span>
                                        <span id="fe-error-cert-cnt" class="error-txt none">제한시간 내 인증번호를 보낼 수 있는 횟수가 넘었습니다.</span>
                                    </div>
                                </div>
                                {{/if}}
                                <span class="inputbox pt20">
                                    <span class="input">
                                        <input id="fe-input-cert" type="number" placeholder="인증번호 숫자 6자리" title="보호자(수신인) 회선 인증번호 숫자 6자리 입력하세요" aria-describedby="aria-phone-tx2">
                                        <button class="cancel"><span class="blind">삭제</span></button>
                                    </span>
                                    <span id="fe-error-confirm" class="tx-box none">
                                        <span id="aria-phone-tx2" class="error-txt">인증번호가 일치하지 않습니다.</span><!-- 정상 작동되지 않을때는 .none 추가 -->
                                    </span>
                                    <span id="fe-error-confirm-time" class="tx-box none">
                                        <span id="aria-phone-tx2" class="error-txt">인증번호가 입력시간이 초과했습니다.</span><!-- 정상 작동되지 않을때는 .none 추가 -->
                                    </span>
                                    <span id="fe-error-confirm-cnt" class="tx-box none">
                                        <span id="aria-phone-tx2" class="error-txt">제한시간 내 인증번호를 보낼 수 있는 횟수가 넘었습니다.</span><!-- 정상 작동되지 않을때는 .none 추가 -->
                                    </span>
                                </span>
                            </li>
                        </ul>
                        <div class="announcement-box pt20">
                            <p class="announcement-bullet type02">미리 등록하신 법정대리인 명의의 이동전화번호(SK텔레콤 회선만 가능)로만 인증번호를 선택하실 수 있습니다.</p>
                        </div>
                    </div>

                </div>
                <!--// .cont-box -->
                <ul class="bt-slice full">
                    <li class="bt-red1">
                        <button id="fe-bt-confirm" disabled>인증하기</button>
                    </li>
                </ul>
            </div>
        </div>
        <!--// .container-wrap -->
    </div>
    <div class="popup-blind"></div>
</div>
