<div class="popup-page tw-popup fixed-bottom h60 nobg txt-screed" data-menuId="{{pageId}}">
    <!-- .popup-closeBtn -->
    <button class="prev-step fe-btn_cancel_join">취소</button>
    <!--// .popup-closeBtn -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>{{title}}</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- .cont-box -->
            <div class="cont-box">
                <div class="user-info">
                    <span class="blind" aria-hidden="true">현재 선택된 회선정보 및 사용중인 {{typeText}} 정보 노출</span>
                    <span class="{{iconClass}}" aria-hidden="true"><span class="blind">선택된 회선정보 아이콘</span></span>
                    <div class="in-info">
                        <span class="number lh-full"><span class="blind">회선번호</span>{{svcNickname}}_{{svcNumMask}}</span>
                    </div>
                </div>
            </div>
            <!--// .cont-box -->

            <hr class="cont-sp type1" aria-hidden="true"/>

            <!-- .cont-box -->
            <div class="cont-box">
                <div class="charge-guide-wrap">
                    <div class="charge-cont">
                        <span class="sub-disc01">
                          <span class="elem">{{joinTypeText}}할 {{typeText}}</span>
                        </span>
                        <span class="tit-tx"><span class="blind">{{joinTypeText}}할 상품정보</span>{{toProdName}}</span>
                        {{#if isNumberBasFeeInfo}}
                            <span class="sub-disc03"><span class="tx-bold vbl">{{toProdBasFeeInfo}}원</span> (월/부가세 포함)</span>
                        {{else}}
                            <span class="sub-disc03"><span class="tx-bold vbl">{{toProdBasFeeInfo}}</span></span>
                        {{/if}}
                    </div>
                    {{#if toProdDesc}}
                        <div class="cont-noti mt36">
                            <p class="type1">{{{toProdDesc}}}</p>
                        </div>
                    {{/if}}
                    {{#if isPcJoin}}
                        <div class="product-bx">
                            <strong class="product">PC대수</strong> <em class="num">1</em>
                        </div>
                    {{/if}}
                </div>
            </div>
            <!--// .cont-box -->

            <!-- .cont-box -->
            <div class="cont-box set-info">
                {{#if settingSummaryTexts}}
                    <hr class="cont-sp type1" aria-hidden="true"/>

                    <!-- .cont-box -->
                    <div class="cont-box nogaps-hoz">
                        <ul class="link-list set-info {{{setInfo}}}">
                            <li>
                                <dl>
                                    <dt>설정 정보</dt>
                                    <dd>
                                        {{#settingSummaryTexts}}
                                            <span class="{{spanClass}}">{{text}}</span>
                                        {{/settingSummaryTexts}}
                                        <button class="fe-btn_close_confirm {{{setInfo}}}">정보설정 팝업 열기</button>
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                    <!--// .cont-box -->
                {{/if}}
                {{#if isTerm}}
                <ul class="form-data-list">
                    <li>
                        <span class="tit">해지 사유</span>
                        <span class="inputbox">
                            <button class="bt-dropdown big fe-btn_select_terminate_cause" title="해지 사유 선택" aria-haspopup="true">선택해 주시기 바랍니다.<span class="ico"></span></button>
                        </span>
                    </li>
                </ul>
                {{/if}}
                <div class="service-info">
                    <h3><strong class="service-tit">자동 {{joinTypeText}}</strong>서비스</h3>
                    <span>
                        <em class="service-add">부가서비스</em>
                        {{#if preinfo.autoJoinTermList}}
                        {{#preinfo.autoJoinTermList}}
                            <span class="service-txt">{{prodNm}}</span>
                        {{/preinfo.autoJoinTermList}}
                        {{else}}
                            <span class="service-txt">자동 {{joinTypeText}} 서비스가 없습니다.</span>
                        {{/if}}
                    </span>
                </div>
            </div>
            <!--// .cont-box -->

            {{#if isAgreement}}
                <div class="ti-caption-gray">
                    <h3 class="tit">약관과 이용 동의</h3>
                </div>
                <!-- .cont-box -->
                <div class="cont-box nogaps fe-agree_wrap">
                    <div class="agree-chk-wrap">
                        <div class="list-comp-input-agree">
                            <div class="widget">
                                <div class="widget-box check">
                                    <ul class="select-list" role="group">
                                        {{#if stipulationInfo.isAllAgree}}
                                            <li>
                                                <div class="checkbox type01 all fe-checkbox_style" role="checkbox" aria-checked="false" title="모두동의">
                                                    <!-- 체크 상태가 아닐 경우 .checked 클래스 삭제, aria-checked="false" -->
                                                    <input type="checkbox" class="fe-checkbox_agree_all" name="checkbox" value="" aria-hidden="true"/>
                                                    <!-- 체크상태일 경우 checked="checked" -->
                                                    <div class="comp-list-layout" id="aria-comp-checkbox-all" aria-hidden="true">
                                                        <p class="layout-text all-chk">
                                                            <span class="mtext">모두동의</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        {{/if}}
                                        {{#if stipulationInfo.isScrbStplAgree}}
                                            <li>
                                                <div class="checkbox type01 fe-checkbox_style" role="checkbox" aria-checked="false">
                                                    <!-- 체크 상태가 아닐 경우 .checked 클래스 삭제, aria-checked="false" -->
                                                    <input type="checkbox" name="checkbox" value="" class="fe-checkbox_agree_item fe-checkbox_agree_need" aria-hidden="true"/>
                                                    <!-- 체크상태일 경우 checked="false" -->
                                                    <div class="comp-list-layout" id="aria-comp-checkbox-0" aria-hidden="true">
                                                        <p class="layout-text">
                                                            <span class="mtext">{{stipulationInfo.scrbStplAgreeTitNm}}</span>
                                                            <span class="stext-bg mt20" aria-hidden="true">
                                                                <span class="stext-c">
                                                                    {{stipulationInfo.scrbStplAgreeCttSummary}}
                                                                </span>
                                                            </span>
                                                            <div class="none fe-agree_full_html" aria-hidden="true">{{{stipulationInfo.scrbStplAgreeHtmlCtt}}}</div>
                                                        </p>
                                                    </div>
                                                </div>
                                                <button class="agree-view fe-btn_agree_view" aria-haspopup="true"><span class="blind">약관 자세히 보기</span></button>
                                            </li>
                                        {{/if}}
                                        {{#if stipulationInfo.isPsnlInfoCnsgAgree}}
                                            <li>
                                                <div class="checkbox type01 fe-checkbox_style" role="checkbox" aria-checked="false">
                                                    <!-- 체크 상태가 아닐 경우 .checked 클래스 삭제, aria-checked="false" -->
                                                    <input type="checkbox" name="checkbox" value="" class="fe-checkbox_agree_item fe-checkbox_agree_need" aria-hidden="true" />
                                                    <!-- 체크상태일 경우 checked="false" -->
                                                    <div class="comp-list-layout" id="aria-comp-checkbox-1" aria-hidden="true">
                                                        <p class="layout-text">
                                                            <span class="mtext">{{stipulationInfo.psnlInfoCnsgAgreeTitNm}}</span>
                                                            <span class="stext-bg mt20">
                                                                <span class="stext-c">
                                                                    {{stipulationInfo.psnlInfoCnsgCttSummary}}
                                                                </span>
                                                            </span>
                                                            <div class="none fe-agree_full_html" aria-hidden="true">{{{stipulationInfo.psnlInfoCnsgHtmlCtt}}}</div>
                                                        </p>
                                                    </div>
                                                </div>
                                                <button class="agree-view fe-btn_agree_view" aria-haspopup="true"><span class="blind">약관 자세히 보기</span></button>
                                            </li>
                                        {{/if}}
                                        {{#if stipulationInfo.isPsnlInfoOfrAgree}}
                                            <li>
                                                <div class="checkbox type01 fe-checkbox_style" role="checkbox" aria-checked="false">
                                                    <!-- 체크 상태가 아닐 경우 .checked 클래스 삭제, aria-checked="false" -->
                                                    <input type="checkbox" name="checkbox" value="" class="fe-checkbox_agree_item fe-checkbox_agree_need" aria-hidden="true" />
                                                    <!-- 체크상태일 경우 checked="false" -->
                                                    <div class="comp-list-layout" id="aria-comp-checkbox-2" aria-hidden="true">
                                                        <p class="layout-text">
                                                            <span class="mtext">{{stipulationInfo.psnlInfoOfrAgreeTitNm}}</span>
                                                            <span class="stext-bg mt20">
                                                                <span class="stext-c">
                                                                    {{stipulationInfo.psnlInfoOfrCttSummary}}
                                                                </span>
                                                            </span>
                                                            <div class="none fe-agree_full_html">{{{stipulationInfo.psnlInfoOfrHtmlCtt}}}</div>
                                                        </p>
                                                    </div>
                                                </div>
                                                <button class="agree-view fe-btn_agree_view" aria-haspopup="true"><span class="blind">약관 자세히 보기</span></button>
                                            </li>
                                        {{/if}}
                                        {{#if stipulationInfo.isAdInfoOfrAgree}}
                                            <li>
                                                <div class="checkbox type01 fe-checkbox_style" role="checkbox" aria-checked="false">
                                                    <!-- 체크 상태가 아닐 경우 .checked 클래스 삭제, aria-checked="false" -->
                                                    <input type="checkbox" name="checkbox" value="" class="fe-checkbox_agree_item fe-checkbox_agree_need" aria-hidden="true"/>
                                                    <!-- 체크상태일 경우 checked="false" -->
                                                    <div class="comp-list-layout" id="aria-comp-checkbox-3" aria-hidden="true">
                                                        <p class="layout-text">
                                                            <span class="mtext">{{stipulationInfo.adInfoOfrAgreeTitNm}}</span>
                                                            <span class="stext-bg mt20">
                                                                <span class="stext-c">{{stipulationInfo.adInfoOfrCttSummary}}</span>
                                                            </span>
                                                            <div class="none fe-agree_full_html" aria-hidden="true">{{{stipulationInfo.psnlInfoCnsgHtmlCtt}}}</div>
                                                        </p>
                                                    </div>
                                                </div>
                                                <button class="agree-view fe-btn_agree_view" aria-haspopup="true"><span class="blind">약관 자세히 보기</span></button>
                                            </li>
                                        {{/if}}
                                        {{#if stipulationInfo.isTermStplAgree}}
                                            <li>
                                                <div class="checkbox type01 fe-checkbox_style" role="checkbox" aria-checked="false">
                                                    <!-- 체크 상태가 아닐 경우 .checked 클래스 삭제, aria-checked="false" -->
                                                    <input type="checkbox" name="checkbox" value="" class="fe-checkbox_agree_item fe-checkbox_agree_need" aria-hidden="true"/>
                                                    <!-- 체크상태일 경우 checked="false" -->
                                                    <div class="comp-list-layout" id="aria-comp-checkbox-4" aria-hidden="true">
                                                        <p class="layout-text">
                                                            <span class="mtext">{{stipulationInfo.termStplAgreeTitNm}}</span>
                                                            <span class="stext-bg mt20">
                                                                <span class="stext-c">{{stipulationInfo.termStplAgreeCttSummary}}</span>
                                                            </span>
                                                        <div class="none fe-agree_full_html" aria-hidden="true">{{{stipulationInfo.termStplAgreeHtmlCtt}}}</div>
                                                        </p>
                                                    </div>
                                                </div>
                                                <button class="agree-view fe-btn_agree_view" aria-haspopup="true"><span class="blind">약관 자세히 보기</span></button>
                                            </li>
                                        {{/if}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// .cont-box -->
            {{/if}}
            {{#if isNoticeList}}
                <hr class="cont-sp type1" aria-hidden="true"/>

                <!-- .cont-box -->
                <div class="cont-box nogaps-btm">
                    <h3 class="tx-bold">꼭 확인해 주세요</h3>
                    <ul class="noti-list fe-noti-list">
                        {{#if isTerm}}
                        <li>
                            <button type="button" class="tip-view-btn fe-product-tip" id="MV_01_02_03_tip_02_02" aria-haspopup="true" title="서비스 이용안내 정보보기">
                                서비스 이용안내 <span class="tip-view">TIP</span>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="tip-view-btn fe-product-tip" id="MV_01_02_03_tip_02_03" aria-haspopup="true" title="서비스 이용안내 정보보기">
                                서비스 이용안내 <span class="tip-view">TIP</span>
                            </button>
                        </li>
                        {{else}}
                        <li>
                            <button type="button" class="tip-view-btn fe-product-tip" id="WP_02_02_02_tip_02" aria-haspopup="true" title="서비스 이용안내 정보보기">
                                서비스 이용안내 <span class="tip-view">TIP</span>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="tip-view-btn fe-product-tip" id="WP_02_02_02_tip_03" aria-haspopup="true" title="서비스 이용안내 정보보기">
                                서비스 이용안내 <span class="tip-view">TIP</span>
                            </button>
                        </li>
                        {{/if}}
                        {{#noticeList}}
                            <li>
                                <button type="button" class="tip-view-btn fe-btn_tip_view" aria-haspopup="true" data-title="{{noticeTit}}" title="{{noticeTit}}">
                                    {{noticeTit}}<span class="tip-view">TIP</span>
                                </button>
                                <div class="none fe-tip_view_html">{{{noticeTxt}}}</div>
                            </li>
                        {{/noticeList}}
                    </ul>
                </div>
                <!--// .cont-box -->
            {{/if}}

        </div>
        <div class="bt-fixed-area">
            <ul class="bt-slice full">
                <li class="bt-red1">
                    <button class="fe-btn_apply" disabled>{{applyBtnText}}</button>
                </li>
            </ul>
        </div>
    </div>
    <!-- // .container-wrap -->
</div>