<div class="popup-page tw-popup fixed-bottom nobg txt-screed" data-menuId="M001733">
    <!-- .popup-closeBtn -->
    <button class="prev-step fe-btn_cancel_join">취소</button>
    <!--// .popup-closeBtn -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>{{title}}</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- .cont-box -->
            <hr class="cont-sp type1" aria-hidden="true"/>
            <div class="cont-box">
                <div class="user-info">
                    <span class="blind" aria-hidden="true">현재 선택된 회선정보 및 사용중인 {{typeText}} 정보 노출</span>
                    <span class="ico"><span class="blind" aria-hidden="true">선택된 회선정보 아이콘</span></span>
                    <div class="in-info">
                        {{#if isMobilePlan}}
                        <span class="number"><span class="blind">회선번호</span>{{svcNumMask}}</span>
                        <span class="sub-info">
                            <span class="elem"><span class="blind">사용요금제명</span>{{svcProdNm}}</span>
                            {{#if svcProdBasFeeInfo}}
                                <span class="elem">
                                <span class="blind">월 이용요금</span>
                                    {{#if svcProdBasFeeInfo.isNaN}}
                                        {{svcProdBasFeeInfo.value}}
                                    {{else}}
                                        {{svcProdBasFeeInfo.value}} 원
									<span class="tx-regular">(월/부가세 포함)</span><!-- 190605  수정_01 -->
                                    {{/if}}
                            </span>
                            {{/if}}
                        </span>
                        {{else}}
                        <span class="number lh-full"><span class="blind">회선번호</span>{{svcNumMask}}</span>
                        {{/if}}
                    </div>
                </div>
            </div>
            <!--// .cont-box -->

            <hr class="cont-sp type1" aria-hidden="true"/>

            <!-- .cont-box -->
            <div class="cont-box">
                <div class="charge-guide-wrap">
                    <div class="charge-cont">
                        <span class="sub-disc01">
                          <span class="elem">{{joinTypeText}}할 {{typeText}}</span>
                        </span>
                        {{#if isMobilePlan}}
                            <span class="tit-tx"><span class="blind">변경 요금제명</span>{{toProdName}}</span>
                        {{else}}
                            <span class="tit-tx"><span class="blind">{{joinTypeText}}할 상품정보</span>{{toProdName}}</span>
                        {{/if}}
                        {{#if isNumberBasFeeInfo}}
							<span class="sub-disc03"><span class="tx-bold vbl">{{toProdBasFeeInfo}}원 </span>(월/부가세 포함)</span>
                        {{else}}
                            <span class="sub-disc03"><span class="tx-bold vbl">{{toProdBasFeeInfo}}</span></span>
                        {{/if}}
                    </div>
                    {{#if toProdDesc}}
                        <div class="cont-noti mt36">
                            <p class="type1">{{{toProdDesc}}}</p>
                        </div>
                    {{/if}}
                    {{#if isComparePlan}}
                        <div class="pt30">
                            <ul class="bt-slice">
                                <li class="bt-blue1">
                                    <button class="fe-btn_compare_plans" aria-haspopup="true">사용 중인 요금제와 비교하기</button>
                                </li>
                            </ul>
                        </div>
                    {{/if}}
                </div>
            </div>
            <!--// .cont-box -->
            {{#if settingSummaryTexts}}
                <hr class="cont-sp type1" aria-hidden="true"/>

                <!-- .cont-box -->
                <div class="cont-box nogaps-hoz">
                    <ul class="link-list set-info {{{setInfo}}}">
                        <li>
                            <dl>
                                <dt>설정 정보</dt>
                                <dd>
                                    {{#settingSummaryTexts}}
                                        <span class="{{spanClass}}">{{text}}</span>
                                    {{/settingSummaryTexts}}
                                    <button class="fe-btn_close_confirm {{{setInfo}}}">정보설정 팝업 열기</button>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <!--// .cont-box -->
            {{/if}}
            <hr class="cont-sp type1" aria-hidden="true"/>

            {{#if isJoinTermProducts}}
                <!-- .cont-box -->
                <div class="cont-box nogaps-top">
                    <div class="info-list">
                        <ul>
                            <li>
                                <div class="tit-area" tabindex="0">
                                    <span class="tit">자동</span>
                                    <span class="sub-tit">가입되는 항목</span>
                                </div>
                                <div class="cont-area">
                                    {{#if autoJoinList}}
                                        {{#autoJoinList}}
                                            <dl>
                                                <dt>{{svcProdNm}}</dt>
                                                {{#each svcProdList}}
                                                    <dd>{{{this}}}</dd>
                                                {{/each}}
                                            </dl>
                                        {{/autoJoinList}}
                                    {{else}}
                                        <dl>
                                            <dt>부가서비스</dt>
                                            <dd class="list-none">
                                                <ul>
                                                    <li>자동 가입 서비스가 없습니다.</li>
                                                </ul>
                                            </dd>
                                        </dl>
                                    {{/if}}
                                    {{#if isMobilePlan}}
                                        <dl>
                                            <dt>혜택</dt>
                                            {{#if autoJoinBenefitList}}
                                                <dd>
                                                    <ul>
                                                        {{{autoJoinBenefitList}}}
                                                    </ul>
                                                </dd>
                                            {{else}}
                                                <dd class="list-none">
                                                    <ul>
                                                        <li>자동 가입 혜택이 없습니다.</li>
                                                    </ul>
                                                </dd>
                                            {{/if}}
                                        </dl>
                                    {{/if}}
                                </div>
                            </li>
                            <li>
                                <div class="tit-area" tabindex="0">
                                    <span class="tit">자동</span>
                                    <span class="sub-tit">해지되는 항목</span>
                                </div>
                                <div class="cont-area">
                                    {{#if autoTermList}}
                                        {{#autoTermList}}
                                            <dl>
                                                <dt>{{svcProdNm}}</dt>
                                                {{#each svcProdList}}
                                                    <dd>{{{this}}}</dd>
                                                {{/each}}
                                            </dl>
                                        {{/autoTermList}}
                                    {{else}}
                                        <dl>
                                            <dt>부가서비스</dt>
                                            <dd class="list-none">
                                                <ul>
                                                    <li>자동 해지 서비스가 없습니다.</li>
                                                </ul>
                                            </dd>
                                        </dl>
                                    {{/if}}
                                    {{#if isMobilePlan}}
                                        <dl>
                                            <dt>혜택</dt>
                                            {{#if autoTermBenefitList}}
                                                <dd>
                                                    <ul>
                                                        {{{autoTermBenefitList}}}
                                                    </ul>
                                                </dd>
                                            {{else}}
                                                <dd class="list-none">
                                                    <ul>
                                                        <li>자동 해지 혜택이 없습니다.</li>
                                                    </ul>
                                                </dd>
                                            {{/if}}
                                        </dl>
                                    {{/if}}
                                    {{#if isSelectedProgram}}
                                        <dl>
                                            <dt>부가서비스</dt>
                                            {{#if isContractPlan}}
                                                <dd>무약정플랜</dd>
                                            {{else}}
                                                <dd class="tx-black3">자동해지 부가서비스가 없습니다.</dd>
                                            {{/if}}
                                        </dl>
                                    {{/if}}
                                </div>
                            </li>
                        </ul>
                    </div>
                    {{#if downgrade}}
                        <div class="cont-noti pt20">
                            {{#if downgrade.isHtml}}
                                {{{downgrade.guidMsgCtt}}}
                            {{else}}
                                <span class="type2">{{downgrade.guidMsgCtt}}</span>
                            {{/if}}
                        </div>
                    {{/if}}
                </div>
                <!--// .cont-box -->
            {{/if}}

            {{#if isMobilePlan}}
                {{#if isOverpayResult}}
                    <div class="ti-caption-gray">
                        <h3 class="tit">초과 사용량 정산 안내</h3>
                    </div>
                    <!-- .cont-box -->
                    <div class="cont-box">
                        <div class="charge-guide-wrap">
                            <div class="charge-cont">
                                <span class="sub-disc01">
                                    <span class="elem">기본 제공량 초과 이용요금</span>
                                </span>
                                <span class="tit"><span class="charge-txt">{{overpay.ovrTotAmt}}</span>원</span>
                                <span class="sub-disc04">(다음 달 청구 예정금액)</span>
                            </div>
                            <div class="basic-list top-line">
                                <span class="blind">변경 요금제 데이터/ 음성/ 문자 정보 노출</span>
                                <ul>
                                    {{#if overpay.isDataOvrAmt}}
                                        <li>
                                            <span class="title tx-black3">데이터</span>
                                            <span class="tx-cont">
                                                <span class="data-info"><span class="tx-bold vbl">{{overpay.dataIfAmt}} 사용</span> / {{overpay.dataBasAmt}} 제공</span>
                                                <span class="price">{{overpay.dataOvrAmt}}원</span>
                                            </span>
                                        </li>
                                    {{/if}}
                                    {{#if overpay.isVoiceOvrAmt}}
                                        <li>
                                            <span class="title tx-black3">음성통화</span>
                                            <span class="tx-cont">
                                                <span class="data-info"><span class="tx-bold vbl">{{overpay.voiceIfAmt}}분 사용</span> / {{overpay.voiceBasAmt}}분 제공</span>
                                                <span class="price">{{overpay.voiceOvrAmt}}원</span>
                                            </span>
                                        </li>
                                    {{/if}}
                                    {{#if isSmsOvrAmt}}
                                        <li>
                                            <span class="title tx-black3">문자</span>
                                            <span class="tx-cont">
                                                <span class="data-info"><span class="tx-bold vbl">{{overpay.smsIfAmt}}통 사용</span> / {{overpay.smsBasAmt}}통</span>
                                                <span class="price">{{overpay.smsOvrAmt}}원</span>
                                            </span>
                                        </li>
                                    {{/if}}
                                </ul>
                            </div>
                            <div class="cont-noti pt26">
                                <span class="type1">월 중간에 요금제를 변경하시면 이용요금은 실제 이용한 날만큼 청구되며, 초과 사용량은 다음 달 청구요금에 반영됩니다.</span>
                            </div>
                        </div>
                    </div>
                    <!--// .cont-box -->
                {{/if}}
                {{#if isOverPayError}}
                    <div class="ti-caption-gray">
                        <h3 class="tit">초과 사용량 정산 안내</h3>
                    </div>
                    <!-- .cont-box -->
                    <div class="cont-box">
                        <div class="cont-txt-type01">
                            <div class="announcement-box">
                                <div class="announcement-txt fs-13">요금제의 기본제공 음성·문자·데이터 혜택은 월 중간에 요금제를 변경하면 실제 이용기간을 기준으로 하루 단위로 계산하여 초과 사용량에 대한 요금은 다음 달 청구요금에 반영됩니다.</div>
                            </div>
                            <h3 class="tit mt30">초과 과금 예시</h3>
                            <div class="announcement-box mt10">
                                <div class="announcement-txt c-black">band데이터 1.2G를 사용하시는 고객님이 총 900MB의 데이터 사용 후 16일에 요금제를 변경하면(30일 기준)</div>
                            </div>
                            <ul class="round-dot-list mt12">
                                <li>변경 전 사용일(1~15일) 기준 하루 제공량: 약 600MB (계산방법: 1.2GB X 15일/30일)</li>
                                <li>초과 사용량: 300MB (계산방법: 사용량 900MB - 15일 제공량 600MB)</li>
                                <li>초과 사용한 데이터(약 300MB)에 대해 종량 요금(22.528원/MB)으로 발생(단, 최대 19,800원)</li>
                            </ul>
                        </div>
                    </div>
                    <!--// .cont-box -->
                {{/if}}
            {{/if}}
            {{#if isAgreement}}
                <div class="ti-caption-gray">
                    <h3 class="tit">약관과 이용 동의</h3>
                </div>
                <!-- .cont-box -->
                <div class="cont-box nogaps fe-agree_wrap">
                    <div class="agree-chk-wrap">
                        <div class="list-comp-input-agree">
                            <div class="widget">
                                <div class="widget-box check">
                                    <ul class="select-list" role="group">
                                        {{#if stipulationInfo.isAllAgree}}
                                            <li>
                                                <div class="checkbox type01 all fe-checkbox_style" role="checkbox" aria-checked="false" title="모두동의">
                                                    <!-- 체크 상태가 아닐 경우 .checked 클래스 삭제, aria-checked="false" -->
                                                    <input type="checkbox" class="fe-checkbox_agree_all" name="checkbox" value="" aria-hidden="true"/>
                                                    <!-- 체크상태일 경우 checked="checked" -->
                                                    <div class="comp-list-layout" id="aria-comp-checkbox-all" aria-hidden="true">
                                                        <p class="layout-text all-chk">
                                                            <span class="mtext">모두동의</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        {{/if}}
                                        {{#if isInstallmentAgreement}}
                                            <li>
                                                <div class="checkbox type01 fe-checkbox_style" role="checkbox" aria-checked="false">
                                                    <!-- 체크 상태가 아닐 경우 .checked 클래스 삭제, aria-checked="false" -->
                                                    <input type="checkbox" name="checkbox" value="" class="fe-checkbox_agree_item fe-checkbox_agree_need" aria-hidden="true"/>
                                                    <!-- 체크상태일 경우 checked="false" -->
                                                    <div class="comp-list-layout">
                                                        <div class="layout-text">
                                                            <span class="mtext">지원금 차액 정산금 동의(필수)</span>
                                                            <span class="stext mt10">요금제를 변경하시면 지원금 차액이 다음 달 청구 요금에 반영(지원금 반환 또는 추가 지원)되어 계산됩니다.</span>
                                                            <div class="basic-list">
                                                                <ul>
                                                                    <li>
                                                                        <div class="inner-top">
                                                                            <span class="title">지원금 차액 청구 예상금액 <span class="sub-tx">(하루 단위로 계산)</span></span>
                                                                            <span class="tx-cont">
                                                                                <span class="tx-bold vbl">{{installmentAgreement.gapDcCd}}{{installmentAgreement.gapDcAmt}}</span>
                                                                            </span>
                                                                        </div>
                                                                        <div class="inner-row top-line">
                                                                            <ul>
                                                                                <li>
                                                                                    <span class="title">현재 지원금</span>
                                                                                    <span class="tx-cont">{{installmentAgreement.frDcAmt}}</span>
                                                                                </li>
                                                                                <li>
                                                                                    <span class="title">변경 후 지원금</span>
                                                                                    <span class="tx-cont">{{installmentAgreement.toDcAmt}}</span>
                                                                                </li>
                                                                                <li>
                                                                                    <span class="title">지원금 차액</span>
                                                                                    <span class="tx-cont">{{installmentAgreement.gapDcCd}}{{installmentAgreement.gapDcAmt}}</span>
                                                                                </li>
                                                                                <li>
                                                                                    <span class="title">사용기간/약정기간</span>
                                                                                    <span class="tx-cont">{{installmentAgreement.agrmtUseCnt}}일/{{installmentAgreement.agrmtDayCnt}}일</span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="cont-noti mt20">
                                                                <ul class="bullet-type">
                                                                    <li>고객님의 남은 약정기간(약정기간-사용기간)을 고려하여 보조금 차액을 정산한 후 추가 납부금액 또는 환급금액이 결정됩니다.</li>
                                                                    <li> 단, 프리미엄패스1 가입자의 경우 6개월 유지 시 차액 정산금은 청구되지 않으니, 참고 하시기 바랍니다.</li>
                                                                    {{#if installmentAgreement.isPremTerm}}
                                                                    <li>{{{installmentAgreement.premTermMsg}}}</li>
                                                                    {{/if}}
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {{/if}}
                                        {{#if stipulationInfo.isScrbStplAgree}}
                                            <li>
                                                <div class="checkbox type01 fe-checkbox_style" role="checkbox" aria-checked="false">
                                                    <!-- 체크 상태가 아닐 경우 .checked 클래스 삭제, aria-checked="false" -->
                                                    <input type="checkbox" name="checkbox" value="" class="fe-checkbox_agree_item fe-checkbox_agree_need" aria-hidden="true" />
                                                    <!-- 체크상태일 경우 checked="false" -->
                                                    <div class="comp-list-layout" id="aria-comp-checkbox-0">
                                                        <p class="layout-text">
                                                            <span class="mtext">{{stipulationInfo.scrbStplAgreeTitNm}}</span>
                                                            <span class="stext-bg mt20">
                                                                <span class="stext-c">
                                                                    {{{stipulationInfo.scrbStplAgreeCttSummary}}}
                                                                </span>
                                                            </span>
                                                        <div class="none fe-agree_full_html" aria-hidden="true">{{{stipulationInfo.scrbStplAgreeHtmlCtt}}}</div>
                                                        </p>
                                                    </div>
                                                </div>
                                                <button class="agree-view fe-btn_agree_view" aria-haspopup="true"><span class="blind">약관 자세히 보기</span></button>
                                            </li>
                                        {{/if}}
                                        {{#if stipulationInfo.isPsnlInfoCnsgAgree}}
                                            <li>
                                                <div class="checkbox type01 fe-checkbox_style" role="checkbox" aria-checked="false">
                                                    <!-- 체크 상태가 아닐 경우 .checked 클래스 삭제, aria-checked="false" -->
                                                    <input type="checkbox" name="checkbox" value="" class="fe-checkbox_agree_item fe-checkbox_agree_need" aria-hidden="true" />
                                                    <!-- 체크상태일 경우 checked="false" -->
                                                    <div class="comp-list-layout" id="aria-comp-checkbox-1">
                                                        <p class="layout-text">
                                                            <span class="mtext">{{stipulationInfo.psnlInfoCnsgAgreeTitNm}}</span>
                                                            <span class="stext-bg mt20">
                                                                <span class="stext-c">
                                                                    {{{stipulationInfo.psnlInfoCnsgCttSummary}}}
                                                                </span>
                                                            </span>
                                                            <div class="none fe-agree_full_html" aria-hidden="true">{{{stipulationInfo.psnlInfoCnsgHtmlCtt}}}</div>
                                                        </p>
                                                    </div>
                                                </div>
                                                <button class="agree-view fe-btn_agree_view" aria-haspopup="true"><span class="blind">약관 자세히 보기</span></button>
                                            </li>
                                        {{/if}}
                                        {{#if stipulationInfo.isPsnlInfoOfrAgree}}
                                            <li>
                                                <div class="checkbox type01 fe-checkbox_style" role="checkbox" aria-checked="false">
                                                    <!-- 체크 상태가 아닐 경우 .checked 클래스 삭제, aria-checked="false" -->
                                                    <input type="checkbox" name="checkbox" value="" class="fe-checkbox_agree_item fe-checkbox_agree_need" aria-hidden="true"/>
                                                    <!-- 체크상태일 경우 checked="false" -->
                                                    <div class="comp-list-layout" id="aria-comp-checkbox-2">
                                                        <p class="layout-text">
                                                            <span class="mtext">{{stipulationInfo.psnlInfoOfrAgreeTitNm}}</span>
                                                            <span class="stext-bg mt20">
                                                                <span class="stext-c">
                                                                    {{{stipulationInfo.psnlInfoOfrCttSummary}}}
                                                                </span>
                                                            </span>
                                                        <div class="none fe-agree_full_html" aria-hidden="true">{{{stipulationInfo.psnlInfoOfrHtmlCtt}}}</div>
                                                        </p>
                                                    </div>
                                                </div>
                                                <button class="agree-view fe-btn_agree_view" aria-haspopup="true"><span class="blind">약관 자세히 보기</span></button>
                                            </li>
                                        {{/if}}
                                        {{#if stipulationInfo.isAdInfoOfrAgree}}
                                            <li>
                                                <div class="checkbox type01 fe-checkbox_style" role="checkbox" aria-checked="false">
                                                    <!-- 체크 상태가 아닐 경우 .checked 클래스 삭제, aria-checked="false" -->
                                                    <input type="checkbox" name="checkbox" value="" class="fe-checkbox_agree_item fe-checkbox_agree_need" aria-hidden="true" />
                                                    <!-- 체크상태일 경우 checked="false" -->
                                                    <div class="comp-list-layout" id="aria-comp-checkbox-3">
                                                        <p class="layout-text">
                                                            <span class="mtext">{{stipulationInfo.adInfoOfrAgreeTitNm}}</span>
                                                            <span class="stext-bg mt20">
                                                                <span class="stext-c">{{{stipulationInfo.adInfoOfrCttSummary}}}</span>
                                                            </span>
                                                            <div class="none fe-agree_full_html" aria-hidden="true">{{{stipulationInfo.psnlInfoCnsgHtmlCtt}}}</div>
                                                        </p>
                                                    </div>
                                                </div>
                                                <button class="agree-view fe-btn_agree_view" aria-haspopup="true"><span class="blind">약관 자세히 보기</span></button>
                                            </li>
                                        {{/if}}
                                        {{#if stipulationInfo.isTermStplAgree}}
                                            <li>
                                                <div class="checkbox type01 fe-checkbox_style" role="checkbox" aria-checked="false">
                                                    <!-- 체크 상태가 아닐 경우 .checked 클래스 삭제, aria-checked="false" -->
                                                    <input type="checkbox" name="checkbox" value="" class="fe-checkbox_agree_item fe-checkbox_agree_need" aria-hidden="true" />
                                                    <!-- 체크상태일 경우 checked="false" -->
                                                    <div class="comp-list-layout" id="aria-comp-checkbox-4">
                                                        <p class="layout-text">
                                                            <span class="mtext">{{stipulationInfo.termStplAgreeTitNm}}</span>
                                                            <span class="stext-bg mt20">
                                                                <span class="stext-c">{{{stipulationInfo.termStplAgreeCttSummary}}}</span>
                                                            </span>
                                                            <div class="none fe-agree_full_html" aria-hidden="true">{{{stipulationInfo.termStplAgreeHtmlCtt}}}</div>
                                                        </p>
                                                    </div>
                                                </div>
                                                <button class="agree-view fe-btn_agree_view" aria-haspopup="true"><span class="blind">약관 자세히 보기</span></button>
                                            </li>
                                        {{/if}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// .cont-box -->
            {{/if}}
            {{#if isNoticeList}}
                <hr class="cont-sp type1" aria-hidden="true"/>

                <!-- .cont-box -->
                <div class="cont-box nogaps-btm">
                    <h3 class="tx-bold">꼭 확인해 주세요</h3>
                    <ul class="noti-list02 fe-noti-list">
                        {{#noticeList}}
                            <li>
                                <button type="button" class="tip-view-btn fe-btn_tip_view" aria-haspopup="true" data-title="{{noticeTit}}">
                                    {{noticeTit}}<span class="tip-view">TIP</span>
                                </button>
                                <div class="none fe-tip_view_html">{{{noticeTxt}}}</div>
                            </li>
                        {{/noticeList}}
                        {{#isMobilePlan}}
                            <li>
                                <button type="button" class="tip-view-btn fe-product-tip" id="MP_02_02_02_tip_01" aria-haspopup="true">
                                    서비스 이용안내 <span class="tip-view">TIP</span>
                                </button>
                            </li>
                        {{/isMobilePlan}}
                        {{#isDiscountPgm}}
                            <li>
                                <button type="button" class="tip-view-btn fe-product-tip" id="BS_02_01_01_02_tip_01" aria-haspopup="true">
                                    할인반환금 안내 <span class="tip-view">TIP</span>
                                </button>
                            </li>
                        {{/isDiscountPgm}}
                    </ul>
                </div>
                <!--// .cont-box -->
            {{/if}}

        </div>
        <div class="bt-fixed-area">
            <ul class="bt-slice full">
                <li class="bt-red1">
                    <button class="fe-btn_apply" data-tracker="C" data-tracker_tw_prod_id="{{ toProdId }}" data-tracker_tw_prod_nm="{{  toProdName }}" disabled>{{applyBtnText}}</button>
                </li>
            </ul>
        </div>
    </div>
    <!-- // .container-wrap -->
</div>