<div class="popup-page nobg tw-popup">
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>폼 나는 정보</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <div class="form-info-box">
                {{#data.banners.centerBanners}}
                    <div class="data-result _dev_header" data-key="{{@key}}">
                        <h3 class="tit2">{{{titleNm}}}</h3>
                        <p class="txt">{{{bnnrDesc}}}</p>
                    </div>
                {{/data.banners.centerBanners}}
                <button class="slick-prev" id="_dev_prev">이전 정보</button>
                <button class="slick-next" id="_dev_next">다음 정보</button>
            </div>

            {{#data.banners.centerBanners}}
                <div class="_dev_html" data-key="{{@key}}">
                    <!-- cont-box-->
                    {{{bnnrHtmlCtt}}}
                    <!-- //cont-box -->
                </div>
            {{/data.banners.centerBanners}}

        </div>
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>