<div class="popup-page nobg tw-popup fixed-btn fixed-bottom"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>조건 선택</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">

            <div class="ti-caption-gray bdt">
                <h3 class="tit">필터를 선택해주세요</h3>
                <div class="num">
                    <button class="resetbtn">초기화</button>
                </div>
            </div>
            <!-- .cont-box -->
            {{#each data.filters}}
            <div class="cont-box">
                <div class="discount-look-ahead discount-type">
                    <div class="board-type">
                        <p class="fe-rmfilter-title" data-title-id="{{prodFltId}}">{{prodFltNm}}</p>
                        <div>
                            <div class="widget">
                                <div class="widget-box check">
                                    <ul class="select-list" role="group">
                                        {{#each subFilters}}
                                        <li class="radiobox btn-type01 {{#if checked}}checked{{/if}}" role="checkbox">
                                            <input type="checkbox" name="checkbox" title="{{prodFltNm}}" {{#if checked}}checked="checked"{{/if}} data-rmfilter-id="{{prodFltId}}"/><!-- 체크상태일 경우 checked="checked" -->
                                            <span class="radio-txt">{{prodFltNm}}</span>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            <!--// .cont-box -->

            <hr class="cont-sp type1" aria-hidden="true"/>

            <!-- 추천태그 -->
            <div class="cont-box">
                <h3>#추천태그</h3>
                <div class="suggest-tag-list openlist-wrap">
                    <ul>
                        {{#each data.tags}}
                            <li><button type="button" class="link {{#if checked}}active{{/if}}" data-rmtag-id={{tagId}}>#{{prodTagNm}}</button></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <!--//추천태그 -->

        </div>
        <!-- .bt-slice -->
        <ul class="bt-slice full">
            <li class="bt-red1">
                <button>적용하기</button>
            </li>
        </ul>
        <!-- // .bt-slice -->
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>

