<div class="popup-page tw-popup fixed-bottom nobg txt-screed" data-menuId="M000478" ><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>{{data.popupTitle}}</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- .cont-box -->
            <div class="cont-box">
                <div class="user-info">
                    <span class="ico"></span>
                    <div class="in-info oneline">
                        <span class="number"><span class="blind">회선번호</span>{{data.svcNum}}</span>
                    </div>
                </div>
            </div>
            <!--// .cont-box -->

            <hr class="cont-sp type1" aria-hidden="true">

            <!-- .cont-box -->
            <div class="cont-box">
                <div class="charge-guide-wrap">
                    <div class="charge-cont">
								<span class="sub-disc01">
									<span class="elem">{{data.processNm}}할 {{data.prodType}}</span>
								</span>
                        <span class="tit-tx">{{data.prodNm}}</span>
                        <span class="sub-disc03"><span class="tx-bold vbl">{{data.prodFee}}</span>
                            {{#if data.showTex}}
                                부가세 포함
                            {{/if}}
                        </span>
                        <div class="cont-noti pt36">
                            <span class="type3">{{data.description}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--// .cont-box -->

            <hr class="cont-sp type1" aria-hidden="true">

            <!-- .cont-box -->
            <div class="cont-box nogaps-hoz">
                <ul class="link-list set-info">
                    <li>
                        <dl>
                            <dt>설정 정보</dt>
                            <dd>
                                <span class="term">비밀번호 등록 완료</span>
                                <button class="tw-popup-closeBtn">정보입력 팝업 열기</button>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <!--// .cont-box -->

            <hr class="cont-sp type1" aria-hidden="true">

            <!-- .cont-box -->
            <div class="cont-box nogaps-hoz">
                <div class="info-list">
                    <ul>
                        <li>
                            <div class="tit-area">
                                <span class="tit">자동 가입</span>
                                <span class="sub-tit">서비스</span>
                            </div>
                            <div class="cont-area">
                                {{#if data.autoInfo.preinfo.autoJoinList.length}}
                                    {{#each data.autoInfo.preinfo.autoJoinList}}
                                        <dl>
                                            <dt>{{this.svcProdNm}}</dt>
                                            <dd>{{this.prodNm}}</dd>
                                        </dl>
                                    {{/each}}
                                {{else}}
                                    <dl>
                                        <dt>부가서비스</dt>
                                        <dd>자동가입 부가서비스가 없습니다.</dd>
                                    </dl>
                                {{/if}}

                            </div>
                        </li>
                        <li>
                            <div class="tit-area">
                                <span class="tit">자동 해지</span>
                                <span class="sub-tit">서비스</span>
                            </div>
                            <div class="cont-area">
                                {{#if data.autoInfo.preinfo.autoTermList.length}}
                                    {{#each data.autoInfo.preinfo.autoTermList}}
                                        <dl>
                                            <dt>{{this.svcProdNm}}</dt>
                                            <dd>{{this.prodNm}}</dd>
                                        </dl>
                                    {{/each}}
                                {{else}}
                                    <dl>
                                        <dt>부가서비스</dt>
                                        <dd>자동해지 부가서비스가 없습니다.</dd>
                                    </dl>
                                {{/if}}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--// .cont-box -->
            {{#ifCond data.agreeCnt '>' '0'}}
                <div class="ti-caption-gray">
                    <h3 class="tit">약관과 이용 동의</h3>
                </div>
            {{/ifCond}}

            <!-- .cont-box -->
            {{#ifCond data.agreeCnt '>' '0'}}
                <div class="cont-box nogaps">
                    <div class="agree-chk-wrap">
                        <div class="list-comp-input-agree">
                            <div class="widget">
                                <div class="widget-box check">
                                    <ul class="select-list" role="group">
                                        {{#ifCond data.agreeCnt '>' '1'}}
                                            <li>
                                                <div class="checkbox type01 all" role="checkbox" aria-checked="false"><!-- 체크 상태가 아닐 경우 .checked 클래스 삭제, aria-checked="false" -->
                                                    <input type="checkbox" name="checkbox" value="" title="모두동의" aria-labelledby="aria-comp-checkbox1"><!-- 체크상태일 경우 checked="checked" -->
                                                    <div class="comp-list-layout" id="aria-comp-checkbox1">
                                                        <p class="layout-text all-chk">
                                                            <span class="mtext">모두동의</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        {{/ifCond}}
                                        {{#ifCond data.autoInfo.stipulationInfo.scrbStplAgreeYn '===' 'Y'}}
                                            <li>
                                                <div class="checkbox type01 individual" role="checkbox" aria-checked="false"><!-- 체크 상태가 아닐 경우 .checked 클래스 삭제, aria-checked="false" -->
                                                    <input type="checkbox" class="scrbStpl" name="checkbox" value="" title="{{data.autoInfo.stipulationInfo.scrbStplAgreeTitNm}}" aria-labelledby="aria-comp-checkbox2"><!-- 체크상태일 경우 checked="false" -->
                                                    <div class="comp-list-layout" id="aria-comp-checkbox2">
                                                        <p class="layout-text">
                                                            <span class="mtext">{{data.autoInfo.stipulationInfo.scrbStplAgreeTitNm}}</span>
                                                            <span class="stext-bg mt20">
                                                                <span class="stext-c">
                                                                    {{{removeTag data.autoInfo.stipulationInfo.scrbStplAgreeHtmlCtt}}}
                                                                </span>
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <button class="agree-view" data-type="scrbStpl" data-tit="{{data.autoInfo.stipulationInfo.scrbStplAgreeTitNm}}" data-txt="{{data.autoInfo.stipulationInfo.scrbStplAgreeHtmlCtt}}"><span class="blind">자세히 보기</span></button>
                                            </li>
                                        {{/ifCond}}
                                        {{#ifCond data.autoInfo.stipulationInfo.termStplAgreeYn '===' 'Y'}}
                                            <li>
                                                <div class="checkbox type01 individual" role="checkbox" aria-checked="false"><!-- 체크 상태가 아닐 경우 .checked 클래스 삭제, aria-checked="false" -->
                                                    <input type="checkbox" class="termStpl" name="checkbox" value="" title="{{data.autoInfo.stipulationInfo.termStplAgreeTitNm}}" aria-labelledby="aria-comp-checkbox2"><!-- 체크상태일 경우 checked="false" -->
                                                    <div class="comp-list-layout" id="aria-comp-checkbox2">
                                                        <p class="layout-text">
                                                            <span class="mtext">{{data.autoInfo.stipulationInfo.termStplAgreeTitNm}}</span>
                                                            <span class="stext-bg mt20">
                                                                <span class="stext-c">
                                                                    {{{removeTag data.autoInfo.stipulationInfo.termStplAgreeHtmlCtt}}}
                                                                </span>
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <button class="agree-view" data-type="termStpl" data-tit="{{data.autoInfo.stipulationInfo.termStplAgreeTitNm}}" data-txt="{{data.autoInfo.stipulationInfo.termStplAgreeHtmlCtt}}"><span class="blind">자세히 보기</span></button>
                                            </li>
                                        {{/ifCond}}
                                        {{#ifCond data.autoInfo.stipulationInfo.psnlInfoCnsgAgreeYn '===' 'Y'}}
                                            <li>
                                                <div class="checkbox type01 individual" role="checkbox" aria-checked="false"><!-- 체크 상태가 아닐 경우 .checked 클래스 삭제, aria-checked="false" -->
                                                    <input type="checkbox" class="psnlInfoCnsg" name="checkbox" value="" title="{{data.autoInfo.stipulationInfo.psnlInfoCnsgAgreeTitNm}}" aria-labelledby="aria-comp-checkbox2"><!-- 체크상태일 경우 checked="false" -->
                                                    <div class="comp-list-layout" id="aria-comp-checkbox2">
                                                        <p class="layout-text">
                                                            <span class="mtext">{{data.autoInfo.stipulationInfo.psnlInfoCnsgAgreeTitNm}}</span>
                                                            <span class="stext-bg mt20">
                                                                <span class="stext-c">
                                                                    {{{removeTag data.autoInfo.stipulationInfo.psnlInfoCnsgHtmlCtt}}}
                                                                </span>
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <button class="agree-view" data-type="psnlInfoCnsg" data-tit="{{data.autoInfo.stipulationInfo.psnlInfoCnsgAgreeTitNm}}" data-txt="{{data.autoInfo.stipulationInfo.psnlInfoCnsgHtmlCtt}}"><span class="blind">자세히 보기</span></button>
                                            </li>
                                        {{/ifCond}}
                                        {{#ifCond data.autoInfo.stipulationInfo.psnlInfoOfrAgreeYn '===' 'Y'}}
                                            <li>
                                                <div class="checkbox type01 individual" role="checkbox" aria-checked="false"><!-- 체크 상태가 아닐 경우 .checked 클래스 삭제, aria-checked="false" -->
                                                    <input type="checkbox" class="psnlInfoOfr" name="checkbox" value="" title="{{data.autoInfo.stipulationInfo.psnlInfoOfrAgreeTitNm}}" aria-labelledby="aria-comp-checkbox2"><!-- 체크상태일 경우 checked="false" -->
                                                    <div class="comp-list-layout" id="aria-comp-checkbox2">
                                                        <p class="layout-text">
                                                            <span class="mtext">{{data.autoInfo.stipulationInfo.psnlInfoOfrAgreeTitNm}}</span>
                                                            <span class="stext-bg mt20">
                                                            <span class="stext-c">
                                                                {{{removeTag data.autoInfo.stipulationInfo.psnlInfoOfrHtmlCtt}}}
                                                            </span>
                                                        </span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <button class="agree-view" data-type="psnlInfoOfr" data-tit="{{data.autoInfo.stipulationInfo.psnlInfoOfrAgreeTitNm}}" data-txt="{{data.autoInfo.stipulationInfo.psnlInfoOfrHtmlCtt}}"><span class="blind">자세히 보기</span></button>
                                            </li>
                                        {{/ifCond}}
                                        {{#ifCond data.autoInfo.stipulationInfo.adInfoOfrAgreeYn '===' 'Y'}}
                                            <li>
                                                <div class="checkbox type01" role="checkbox" aria-checked="false"><!-- 체크 상태가 아닐 경우 .checked 클래스 삭제, aria-checked="false" -->
                                                    <input type="checkbox" class="adInfoOfr" name="checkbox" value="" title="{{data.autoInfo.stipulationInfo.adInfoOfrAgreeTitNm}}" aria-labelledby="aria-comp-checkbox2"><!-- 체크상태일 경우 checked="false" -->
                                                    <div class="comp-list-layout" id="aria-comp-checkbox2">
                                                        <p class="layout-text">
                                                            <span class="mtext">{{data.autoInfo.stipulationInfo.adInfoOfrAgreeTitNm}}</span>
                                                            <span class="stext-bg mt20">
                                                            <span class="stext-c">
                                                                {{{removeTag data.autoInfo.stipulationInfo.adInfoOfrHtmlCtt}}}
                                                            </span>
                                                        </span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <button class="agree-view" data-type="adInfoOfr" data-tit="{{data.autoInfo.stipulationInfo.adInfoOfrAgreeTitNm}}" data-txt="{{data.autoInfo.stipulationInfo.adInfoOfrHtmlCtt}}"><span class="blind">자세히 보기</span></button>
                                            </li>
                                        {{/ifCond}}

                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// .cont-box -->
            {{/ifCond}}

            <hr class="cont-sp type1" aria-hidden="true">

            <!-- .cont-box -->
            {{#ifCond data.toolTipData.length '||' data.autoInfo.preinfo.joinNoticeList.length }}
                <div class="cont-box nogaps-btm">
                    <h3 class="tx-bold">꼭 확인해 주세요</h3>
                    <ul class="noti-list02">
                        {{#each data.autoInfo.preinfo.joinNoticeList}}
                            <li>
                                <button type="button" class="tip-view-btn bff" data-tit="{{this.noticeTit}}" data-txt="{{this.noticeTxt}}" aria-haspopup="true">
                                    {{this.noticeTit}}<span class="tip-view">TIP</span>
                                </button>
                            </li>
                        {{/each}}
                        {{#each data.toolTipData}}
                            <li>
                                <button type="button" class="tip-view-btn"  id="{{this.tipId}}" aria-haspopup="true">
                                    {{this.tipTitle}}<span class="tip-view">TIP</span>
                                </button>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            {{/ifCond}}
            <!--// .cont-box -->

        </div>
        <div class="bt-fixed-area">
            <ul class="bt-slice full">
                <li class="bt-red1">
                    <button id="do_join" disabled >가입하기</button>
                </li>
            </ul>
        </div>
    </div>
    <!-- // .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="prev-step">취소</button>
    <!--// .popup-closeBtn -->
</div>
