<div class="popup-page nobg tw-popup fixed-bottom txt-screed"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>T파이 예약정보</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">

            <div class="ti-caption-gray">
                <h3 class="tit">예약정보 입력</h3>
                <span class="num tx-red" id="aria-required-01">* 필수</span>
            </div>
            <!-- .cont-box -->
            <div class="cont-box">

                <ul class="form-data-list">
                    <li>
                        <span class="tit pt0">방문국가<span class="required-mark2" aria-labelledby="aria-required-01"><span class="blind">필수입력</span>*</span></span>
                        <div class="basic-text border">
                                    <span class="top-tx-m" id="fe-visit-country" data-list="{{data.rominfo.visit_nat_lst}}">{{data.rominfo.changeCountry}}<span>
                        </div>
                    </li>
                    <li>
                        <label class="tit" for="flab01">국내 휴대폰 번호<span class="required-mark2" aria-labelledby="aria-required-01"><span class="blind">필수입력</span>*</span></label>
                        <div class="inputbox">
                                    <span class="input">
                                        <input id="flab01" type="tel" value="{{data.rominfo.tmp_cntc_num}}" placeholder="숫자만 입력" title="국내 연락번호 휴대폰 번호 (숫자만 입력) 입력" maxlength="11" onInput="return Tw.InputHelper.inputNumberOnly(this);" >
                                        <button class="cancel"><span class="blind">삭제</span></button>
                                    </span>
                        </div>
                    </li>
                    <li>
                        <label class="tit" for="flab02">임대 시작 일자<span class="required-mark2" aria-labelledby="aria-required-01"><span class="blind">필수입력</span>*</span></label>
                        <div class="inputbox date-selcet mt0">
                            <span class="date-type full"><input id="flab02" type="date" value="{{data.rominfo.rental_schd_sta_dtm}}" min="{{data.minDate}}" max="{{data.maxDate}}" title="임대시작 일자 선택"></span>
                        </div>
                    </li>
                    <li>
                        <label class="tit" for="flab03">반납 일자<span class="required-mark2" aria-labelledby="aria-required-01"><span class="blind">필수입력</span>*</span></label>
                        <div class="inputbox date-selcet mt0">
                            <span class="date-type full"><input id="flab03" type="date" value="{{data.rominfo.rental_schd_end_dtm}}" min="{{data.minDate}}" max="{{data.maxDate}}" title="반납 일자 선택"></span>
                        </div>
                    </li>
                    <li>
                        <label class="tit" for="flab04">수령 장소 선택<span class="required-mark2" aria-labelledby="aria-required-01"><span class="blind">필수입력</span>*</span></label>
                        <button id="flab04" class="bt-dropdown big" title="수령장소 선택" aria-haspopup="true" data-center="{{data.rominfo.rental_sale_org_id}}" data-booth="{{data.rominfo.rental_booth_org_id}}">{{data.rominfo.show_rental_sale_org_nm}}<span class="ico"></span></button>
                        <div class="mapimg-area pt10"><img id="fe-receive-img" src="{{cdn}}/img/product/{{data.rominfo.receive_center_img}}.png" alt="{{data.rominfo.rental_sale_org_nm}}"/></div>
                    </li>
                    <li>
                        <label class="tit" for="flab05">반납 장소 선택<span class="required-mark2" aria-labelledby="aria-required-01"><span class="blind">필수입력</span>*</span></label>
                        <button id="flab05" class="bt-dropdown big" title="반납장소 선택" aria-haspopup="true" data-center="{{data.rominfo.rtn_sale_org_id}}">{{data.rominfo.show_rtn_sale_org_nm}}<span class="ico"></span></button>
                        <div class="mapimg-area pt10"><img id="fe-return-img" src="{{cdn}}/img/product/{{data.rominfo.return_center_img}}.png" alt="{{data.rominfo.rtn_sale_org_nm}}"/></div>
                    </li>
                </ul>

                <div class="announcement-box mt20">
                    <p class="announcement-bullet type01">청구기준은 한국시간 기준으로 임대일로부터 반납일까지 입니다. 단, 출국/귀국 비행시간을 고려하여 2일 이상 이용 시 전체 임대 기간에서 1일 이용요금이 무료 제공됩니다.</p>
                    <p class="announcement-bullet type01">대구 SKT 황금점 매장은 매주 일요일 휴무이므로 임대 시작일/반납일자가 일요일인 경우 다른 장소를 선택해주시길 바랍니다.</p>
                    <p class="announcement-bullet type01">로밍 센터별 근무시간이 상이하므로 사전에 업무시간을 확인하신 후 방문하셔야 합니다. <button id="fe-link" class="bt-link-tx underline block">업무시간 상세보기</button></p>
                </div>
            </div>
            <!--// .cont-box -->

            <hr class="cont-sp type1" aria-hidden="true"/>

            <!-- .cont-box -->
            <div class="cont-box nogaps-btm">
                <h3 class="tx-bold">꼭 확인해 주세요</h3>
                <ul class="noti-list02">
                    <li><button id="RM_14_02_01_tip_01" type="button" class="tip-view-btn" title="예약 확인사항 TIP보기">예약 확인사항<span class="tip-view">TIP</span></button></li>
                </ul>
            </div>
            <!--// .cont-box -->
        </div>
        <div class="bt-fixed-area">
            <ul class="bt-slice full">
                <li class="bt-red1">
                    <button id="fe-register" data-mgmt="{{data.rominfo.rental_mgmt_num}}" data-opclcd="{{data.rominfo.rsv_chnl_cd}}">예약 수정</button>
                </li>
            </ul>
        </div>
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>