<!-- .popup hbs -->
<div class="popup-page nobg tw-popup">
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>서비스 가능지역 조회</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- .cont-box -->
            <div class="cont-box">
                <div class="service-check-adrs">
                    <em>조회하신 주소</em>
                    <strong>{{address}}</strong>
                </div>
            </div>
            <!-- //.cont-box -->
            <hr class="cont-sp type1" aria-hidden="true" />
            <!-- .cont-box -->
            <div class="cont-box">
                {{#if services}}
                <div class="service-possibility-pdt">
                    <em>해당 지역에서는 다음 상품 서비스가 <br />가능합니다.</em>
                    <ul>
                        {{#each services}}
                        <li>
                            <img src="{{../cdn}}/img/product/icon-service-pdt0{{icon}}.png" alt="" />
                            <strong>{{name.[0]}}</strong>
                            {{#if name.[1]}}<span>{{name.[1]}}</span>{{/if}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{else}}
                <div class="cont-box nogaps">
                    <div class="contents-empty">
                        <span class="ico type1"></span>
                        <p class="desc">해당 지역에는 설치 가능한 상품이 없습니다.</p>
                    </div>
                </div>
                {{/if}}
                <ul class="bt-slice item-two">
                    <li class="bt-white2">
                        <button id="fe-search-zip">다른주소 조회</button>
                    </li>
                    <li class="bt-blue1">
                        <a href="/product/wireplan/join/reservation">가입상담 예약</a>
                    </li>
                </ul>
            </div>
            <!-- //.cont-box -->

        </div>
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
<!--// .popup hbs -->