<div class="popup tw-popup">
    <div class="popup-page nobg layer"><!-- .no-btn 하단에 버튼이 없을 경우 -->
        <!-- #header -->
        <div class="header-wrap">
            <div class="page-header">
                <div class="header-ti align-l">
                    <h1>{{title}}</h1>
                </div>
            </div>
        </div>
        <!--// #header -->
        <!-- .container-wrap -->
        <div class="container-wrap">
            <div class="container">
                {{#each data}}
                <!-- .cont-box -->
                <div class="cont-box nogaps">
                    <div class="box-chk-link">
                        {{#if type}}<p class="link-long-ti">{{type}}</p>{{/if}}
                        <ul class="chk-link-list">
                           {{#each list}}
                            <li>
                                <button class="{{option}}" {{{attr}}}>
                                    <div class="link-info">
                                        <span class="info-value">{{value}}</span>
                                        {{#if explain}}
                                        <p class="tx-explain">{{explain}}</p>
                                        {{/if}}
                                        <span class="ico"></span>
                                    </div>
                                </button>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <!--// .cont-box -->
                {{/each}}
            </div>
        </div>
        <!--// .container-wrap -->
        <!-- .popup-closeBtn -->
        <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
        <!--// .popup-closeBtn -->
    </div>
    <div class="popup-blind"></div>
</div>
