<div class="popup tw-popup">
    <div class="popup-page nobg layer actionsheet {{#if btnfloating}}has-floating{{/if}} {{#if lineManagement}}has-header{{/if}}"><!-- actionsheet, has-floating, has-header // -->
        <!-- .container-wrap -->
        <div class="container-wrap">
            <div class="container">
                <!-- .cont-box -->
                <div class="cont-box nogaps noborder">
                    <!-- .cont-actionsheet -->
                    <div class="cont-actionsheet">
                        {{#each data}}
                            <ul class="ac-list">
                                {{#each list}}
                                     <li class="type1 focus-elem">
                                        <a class='fe-outlink' href="javascript:void(0);" value="{{url}}" target="_blank" data-xt_eid="{{eid}}" title="{{title}}" data-xt_csid="NO" data-xt_action="BC">{{txt}}</a>
                                    </li>
                                {{/each}}
                            </ul>
                        {{/each}}
                        {{#if btnmore}}
                        {{#btnmore}}
                        <div class="btn-more">
                            <button {{{attr}}}>{{{txt}}}</button>
                        </div>
                        {{/btnmore}}
                        {{/if}}
                        {{#if btnfloating}}
                        {{#btnfloating}}
                            <button {{{attr}}} class="btn-floating btn-style3 {{{class}}}">{{{txt}}}</button>
                        {{/btnfloating}}
                        {{/if}}
                    </div>
                    <!-- // .cont-actionsheet -->
                </div>
                <!--// .cont-box -->
            </div>
        </div>
        <!--// .container-wrap -->
    </div>
    <div class="popup-blind"></div>
</div>
