<div class="popup tw-popup">
    <div class="popup-info" role="alertdialog" {{#if title}}aria-labelledby="alertHeading"{{/if}} aria-describedby="alertText">
        <div class="popup-header">
            {{#if ico}}
            <span class="ico {{ico}}"></span>
            {{/if}}
            {{#if btn-close}}
                <button type="button" class="{{btn-close}}">닫기</button><!--2019.02.21 a태그 button으로 변경-->
            {{/if}}            
            {{#if title}}
            <h5 class="popup-title {{title_type}}" id="alertHeading">{{{breaklines title}}}</h5>
            {{/if}}
        </div>
        <div class="popup-contents {{notice_has}} {{tooltip}}" id="alertText"> <!-- tooltip 변수 추가 -->
            <div class="inner-contents">
                {{#if tagStyle-p}}
		        <{{tagStyle-p}} class="{{cont_align}}">{{{breaklines contents}}}</{{tagStyle-p}}>
                {{/if}}
                {{#if tagStyle-div}}
		        <{{tagStyle-div}} class="{{cont_align}}">{{{breaklines contents}}}</{{tagStyle-div}}>
                {{/if}}
            </div>
            {{#if tooltip_cont}}
            <ul class="cont-tooltip-li">
                {{#tooltip_cont}}
                <li>{{txt}}</li>
                {{/tooltip_cont}}
            </ul>
            {{/if}}
            {{#if link_list}}
            <ul class="link-list">
                {{#link_list}}
                <li><button class="{{style_class}}">{{txt}}</button></li>
                {{/link_list}}
            </ul>
            {{/if}}
            {{#if notice_list}}
            <ul class="notice-list">
                {{#notice_list}}
                <li>
                    <dl>
                        <dt>{{{tit}}}</dt>
                        <dd>{{{con}}}</dd>
                    </dl>
                </li>
                {{/notice_list}}
            </ul>
            {{/if}}
            {{#if infocopy}}
            <div class="infocopy">
                {{#infocopy}}
                <div>{{info_contents}}</div>
                <div class="{{bt_class}}">
                    <button>더 알아보기</button>
                </div>
                {{/infocopy}}
            </div>
            {{/if}}
        </div>
        {{#if bt}}
        <div class="btn-box">
            <ul class="bt-slice">
            {{#bt}}
            <li class="{{style_class}}">
              <button>{{txt}}</button>
            </li>
            {{/bt}}
            </ul>
        </div>
        {{/if}}
        {{#if bt_b}}
            <ul class="bt-bottom">
                {{#bt_b}}
                <li class="{{style_class}}">
                   <button>{{txt}}</button>
                </li>
                {{/bt_b}}
            </ul>
        {{/if}}
    </div>
    <div class="popup-blind"></div>
</div>
