<div class="popup tw-popup">
    <div class="popup-page nobg layer"><!-- .no-btn 하단에 버튼이 없을 경우 -->
        <!-- #header -->
        <div class="header-wrap">
            <div class="page-header">
                <div class="header-ti align-l">
                    <h1>{{title}}</h1>
                </div>
            </div>
        </div>
        <!--// #header -->
        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                {{#each data}}
                {{#if @index}}
                <hr class="cont-sp type1" aria-hidden="true"/>
                {{/if}}
                <!-- .cont-box -->
                <div class="cont-box nogaps">
                    <div class="box-chk-link">
                        {{#if type}}<p class="link-long-ti">{{type}}</p>{{/if}}
                        <ul class="chk-link-list">
                           {{#each list}}
                            <li>
                                <button class="{{option}}" {{attr}}>
                                    <div class="link-info">
                                        <span class="info-value">{{value}}</span>
                                        {{#if explain}}
                                        <p class="tx-explain">{{explain}}</p>
                                        {{/if}}
                                        <span class="ico"></span>
                                    </div>
                                </button>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <!--// .cont-box -->
                {{/each}}

                <hr class="cont-sp type1" aria-hidden="true"/>
                <!-- .cont-box -->
                <div class="cont-box nogaps-top">
                    <div class="sms-confirm-box pt26">
                        <div class="sms-confirm-des">입력한 휴대폰으로 전송 받으신 인증번호를 입력해 주세요.</div>
                        <div class="box-citation pb18">
                            <div class="citation-form">
                                <div class="form-cell">
                                    <!-- 2019-01-17 inp-btn 추가 -->
                                    <span class="inputbox bt-add inp-btn"><!-- 오류일 경우 class error 추가, 통과일 경우 class validation 추가 -->
                                        <span class="input">
                                            <input type="number" placeholder="숫자만 입력" title="휴대폰 번호" aria-describedby="aria-sms-exp-desc1" /><!-- 통과일 경우 aria-describedby에 aria-sms-exp-desc2 추가 -->
                                            <button href="javascript:void(0)" class="cancel"><span class="blind">삭제</span></button>
                                        </span>
                                        <span class="bt-box"><!-- 인증번호를 받기 비활성화 class disabled 추가 -->
                                            <button type="button">인증번호 받기</button><!-- 인증번호를 받기 비활성화 attr disabled 추가 -->
                                        </span>
                                    </span>
                                    <span class="tx-box">
                                        <span id="aria-sms-exp-desc1" class="error-txt">재전송 제한시간(1분)이 지난 후에 이용해 주세요.</span>
                                        <span id="aria-sms-exp-desc2" class="validation-txt none">정상적으로 발송되었습니다.</span><!-- 통과일 경우 class none 삭제 -->
                                    </span>
                                </div>
                                <div class="form-cell">
                                    <span class="inputbox error"><!-- 통과일 경우 class error 삭제 -->
                                        <span class="input">
                                            <input type="text" placeholder="인증번호 숫자 6자리" title="휴대폰 인증번호" value="947832" aria-labelledby="aria-citation-phone" aria-describedby="aria-sms-exp-desc3"/><!-- 통과일 경우 aria-describedby에 aria-sms-exp-desc3 삭제 -->
                                            <button href="javascript:void(0)" class="cancel"><span class="blind">삭제</span></button>
                                            <span class="ico"></span><!-- 통과일 경우 class none 추가 -->
                                        </span>
                                        <span id="aria-sms-exp-desc3" class="error-txt" aria-hidden="true">인증번호가 일치하지 않습니다.</span><!-- 통과일 경우 class none 추가 -->
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="bt-slice">
                        <li class="bt-red1">
                            <button>확인</button>
                        </li>
                    </ul>
                </div>
                <!--// .cont-box -->
            </div>
        </div>
        <!--// .container-wrap -->
        <!-- .popup-closeBtn -->
        <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
        <!--// .popup-closeBtn -->
    </div>
    <div class="popup-blind"></div>
</div>
