<div class="popup tw-popup">
    <div class="popup-info" role="dialog">
        <div class="popup-header">
            {{#if title}}
            <h5 class="popup-title popup-focus">{{{title}}}</h5>
            {{/if}}
        </div>
        <div class="popup-contents">
            {{#if text}}
            <p {{#unless title}}class="popup-focus" {{/unless}}>{{{text}}}</p>
            {{/if}} {{#unless multiplex}}
            <div class="widget">
                <div class="widget-box radio">
                    <ul class="select-list" role="radiogroup">
                        {{#each select}} {{#each options}}
                        <li class="radiobox type01 {{#unless @index}}{{#unless title}}{{#unless text}}popup-focus{{/unless}}{{/unless}}{{/unless}} {{#if checked}}checked{{/if}}" role="radio" aria-checked="{{#if checked}}true{{else}}false{{/if}}">
                            <input type="radio" name="radio" value="{{value}}" title="{{title}}" {{#if checked}}checked="checked" {{/if}} />{{#if text}}{{{text}}}{{else}}{{{value}}}{{/if}}
                        </li>
                        {{/each}} {{/each}}
                    </ul>
                </div>
            </div>
            {{else}}
            {{#each select}}
            {{#if title}}
            <dl class="tube-list-ti">
                <dt {{#unless ../title}}{{#unless @index}}class="popup-focus" {{/unless}}{{/unless}}>{{{title}}}</dt>
                <dd>
            {{/if}}
                    <div{{#unless title}} class="tube-list-ti"{{/unless}}>
                        <!-- .widget -->
                        <div class="widget">
                            <div class="widget-box tube">
                                <ul class="tube-list {{style_class}} {{style_num}}" role="radiogroup">
                                    {{#each options}}
                                    <li role="radio" aria-checked="{{#if checked}}true{{else}}false{{/if}}" class="{{#if checked}}checked{{/if}}">
                                        <input type="radio" name="radio{{@../index}}" title="{{title}}" value="{{value}}" {{#if checked}}checked{{/if}}>{{#if text}}{{{text}}}{{else}}{{{value}}}{{/if}}
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                        <!--// .widget -->
                        {{#if checkbox}}
                        <div class="select-option">
                            <div class="widget">
                                <div class="widget-box check">
                                    <ul class="select-list" role="group">
                                        {{#each checkbox}}
                                        <li class="checkbox type01 {{#if checked}}checked{{/if}}" role="checkbox" aria-checked="{{#if checked}}true{{else}}false{{/if}}">
                                            <input type="checkbox" title="{{title}}" value="{{value}}" {{#if checked}}checked{{/if}}/>{{#if text}}{{{text}}}{{else}}{{{value}}}{{/if}}
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {{/if}}
                    </div>
            {{#if title}}
                </dd>
            </dl>
            {{/if}}
            {{/each}}
            {{/unless}}
        </div>
        <div class="btn-box">
            <ul class="bt-slice item-{{bt_num}}">
                {{#type}}
                <li class="{{style_class}}">
                    <button>{{txt}}</button>
                </li>
                {{/type}}
            </ul>
        </div>
        {{#if close_bt}}
            <button class="popup-closeBtn">팝업닫기<span class="ico"></span></button>
        {{/if}}
    </div>
    <div class="popup-blind"></div>
</div>