<div class="popup-page nobg">
    <!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>SKT 이동전화 광고 정보 수신동의</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- .cont-box -->
            <div class="cont-box nogaps-hoz">
                <div class="order-list-sub-box"><!-- 2018-07-12 class변경 -->
                    <p class="order-list-param1">고객님의 가입정보/모바일 사용 패턴 등을 바탕으로 최적화된 광고/커머스(상거래)/정보 등 다양한 혜택을 추천 받으실 수 있는 서비스입니다.</p><!-- 2018-07-12 class변경 -->
                    <div class="define-list-cont">
                        <ul class="define-list-data">
                            <li>
                                <dl>
                                    <dt class="ti-data">회선 닉네임</dt>
                                    <dd class="tx-data">
                                        <div class="txt">{{ data.showName }}</div>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt class="ti-data">가입동의 휴대폰 번호</dt>
                                    <dd class="tx-data">
                                        <div class="txt">{{ data.svcNum }}</div>
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--// .cont-box -->
            <hr class="cont-sp type1" aria-hidden="true"/>
            <!-- .cont-box -->
            <div class="cont-box nogaps-btm"><!-- 2018-07-12 class="cont-box agree-list nogaps-btm" 에서 .agree-list삭제 -->
                <!-- .widget -->
                <div class="agree-list">
                    <div class="widget">
                        <div class="widget-box accordion">
                            <div class="widget">
                                <div class="widget-box check">
                                    {{#if data.allCheck}}
                                        <div class="checkbox type02 checked all_chk" role="checkbox" aria-checked="true">
                                            <i class="ico"></i>
                                            <input id="all-check" type="checkbox" name="checkbox" value="" title="고객 혜택 제공을 위한 개인정보 수집·이용, 광고성 정보 수신에 모두 동의합니다." checked/><!-- 접근성 수정 -->
                                            <span class="tit-a">고객 혜택 제공을 위한 개인정보 수집·이용, 광고성 정보 수신에 모두 동의합니다.</span>
                                        </div>
                                    {{else}}
                                        <div class="checkbox type02 all_chk" role="checkbox" aria-checked="false">
                                            <i class="ico"></i>
                                            <input id="all-check" type="checkbox" name="checkbox" value="" title="고객 혜택 제공을 위한 개인정보 수집·이용, 광고성 정보 수신에 모두 동의합니다."/><!-- 접근성 수정 -->
                                            <span class="tit-a">고객 혜택 제공을 위한 개인정보 수집·이용, 광고성 정보 수신에 모두 동의합니다.</span>
                                        </div>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="acco-cover">
                                <!-- toggle : 한개만 열기 -->
                                <div class="acco-style btn-hold">
                                    <ul class="acco-list">
                                        <!-- .on: 열기 -->
                                        {{#if data.agr201Yn}}
                                        <li class="acco-box on none"><!-- 2018-07-12 .on추가 -->
                                        {{else}}
                                        <li class="acco-box on">
                                        {{/if}}
                                            <div class="acco-tit">
                                                <div class="widget">
                                                    <div class="widget-box check">
                                                        {{#if data.agr201Yn}}
                                                            <div class="checkbox type02 checked all_chk" role="checkbox" aria-checked="true">
                                                                <i class="ico"></i>
                                                                <input class="child-check" type="checkbox" name="checkbox" value="" title="고객 혜택 제공을 위한 개인정보 수집·이용 동의(선택)" checked/><!-- 접근성 수정 -->
                                                                <span>고객 혜택 제공을 위한 개인정보 수집·이용 동의(선택)</span>
                                                            </div>
                                                        {{else}}
                                                            <div class="checkbox type02 all_chk" role="checkbox" aria-checked="false">
                                                                <i class="ico"></i>
                                                                <input class="child-check" type="checkbox" name="checkbox" value="" title="고객 혜택 제공을 위한 개인정보 수집·이용 동의(선택)"/><!-- 접근성 수정 -->
                                                                <span>고객 혜택 제공을 위한 개인정보 수집·이용 동의(선택)</span>
                                                            </div>
                                                        {{/if}}
                                                    </div>
                                                </div><!--<button role="button" aria-pressed="false"></button>--><!-- 2018-07-12 button삭제 -->
                                            </div>
                                            <div class="acco-cont">
                                                <div class="agree-cont">
                                                    <dl class="agree-cont-defined">
                                                        <dt>
                                                            제 1조
                                                        </dt>
                                                        <dd>
                                                            선택하신 회선을 사용 가능 회선 목록으로 이동 시 회선관리 목록에서 삭제됩니다. 삭제 후 다시 사용하시려면 직접 등록하셔야 가능합니다. 좋습니다. 혹 미신이라 하실지 모르지만 선택하신 회선을 사용 가능 회선 목록으로 이동 시 회선관리 목록에서 삭제됩니다. 삭제 후 다시 사용하시려면 직접 등록하셔야 가능합니다. 사실입니다. 영국에서 HGXWCH이라는 사람은 1930년에 이 편지를 받았습니다. 그는 비서에게 복사해서 보내라고 했습니다. 며칠 뒤에 복권이 당첨되어 20억을 받았습니다. 어떤 이는 이 편지를 받았으나 96시간 이내 자신의 손에서 떠나야 한다는 사실을 잊었습니다. 그는 곧 사직되었습니다. 나중에야 이 사실을 알고 7통의 편지를 보냈는데 다시 좋은 직장을 얻었습니다. 미국의 케네디 대통령은 이 편지를 받았지만 그냥 버렸습니다. 결국 9일 후 그는 암살 당했습니다. 기억해 주세요. 이 편지를 보내면 7년의 행운이 있을 것이고 그렇지 않으면 3년의 불행이 있을 것입니다. 그리고 이 편지를 버리거나 낙서를 해서는 절대로 안됩니다. 7통입니다. 이 편지를 받은 사람은 행운이 깃들 것입니다. 힘들겠지만 좋은게 좋다고 생각하세요. 7년의 행운을 빌면서..
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </li>
                                        {{#if data.agr203Yn}}
                                        <li class="acco-box on none"><!-- 2018-07-12 .on추가 -->
                                        {{else}}
                                        <li class="acco-box on">
                                        {{/if}}
                                            <div class="acco-tit">
                                                <div class="widget">
                                                    <div class="widget-box check">
                                                        {{#if data.agr203Yn}}
                                                            <div class="checkbox type02 checked all_chk" role="checkbox" aria-checked="true">
                                                                <i class="ico"></i>
                                                                <input class="child-check" type="checkbox" name="checkbox" value="" title="광고성 정보 수신 동의(선택)" checked/><!-- 접근성 수정 -->
                                                                <span>광고성 정보 수신 동의(선택)</span>
                                                            </div>
                                                        {{else}}
                                                            <div class="checkbox type02 all_chk" role="checkbox" aria-checked="false">
                                                                <i class="ico"></i>
                                                                <input class="child-check" type="checkbox" name="checkbox" value="" title="광고성 정보 수신 동의(선택)"/><!-- 접근성 수정 -->
                                                                <span>광고성 정보 수신 동의(선택)</span>
                                                            </div>
                                                        {{/if}}
                                                    </div>
                                                </div><!--<button role="button" aria-pressed="false"></button>--><!-- 2018-07-12 button삭제 -->
                                            </div>
                                            <div class="acco-cont">
                                                <div class="agree-cont">
                                                    <dl class="agree-cont-defined">
                                                        <dt>
                                                            제 1조
                                                        </dt>
                                                        <dd>
                                                            선택하신 회선을 사용 가능 회선 목록으로 이동 시 회선관리 목록에서 삭제됩니다. 삭제 후 다시 사용하시려면 직접 등록하셔야 가능합니다. 좋습니다. 혹 미신이라 하실지 모르지만 선택하신 회선을 사용 가능 회선 목록으로 이동 시 회선관리 목록에서 삭제됩니다. 삭제 후 다시 사용하시려면 직접 등록하셔야 가능합니다. 사실입니다. 영국에서 HGXWCH이라는 사람은 1930년에 이 편지를 받았습니다. 그는 비서에게 복사해서 보내라고 했습니다. 며칠 뒤에 복권이 당첨되어 20억을 받았습니다. 어떤 이는 이 편지를 받았으나 96시간 이내 자신의 손에서 떠나야 한다는 사실을 잊었습니다. 그는 곧 사직되었습니다. 나중에야 이 사실을 알고 7통의 편지를 보냈는데 다시 좋은 직장을 얻었습니다. 미국의 케네디 대통령은 이 편지를 받았지만 그냥 버렸습니다. 결국 9일 후 그는 암살 당했습니다. 기억해 주세요. 이 편지를 보내면 7년의 행운이 있을 것이고 그렇지 않으면 3년의 불행이 있을 것입니다. 그리고 이 편지를 버리거나 낙서를 해서는 절대로 안됩니다. 7통입니다. 이 편지를 받은 사람은 행운이 깃들 것입니다. 힘들겠지만 좋은게 좋다고 생각하세요. 7년의 행운을 빌면서..
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--// .widget -->
                    <ul class="bt-slice last"><!-- 2018-07-12 버튼 class, 순서 변경 (동의 사항을 모두 체크시 활성화) -->
                        <li class="bt-blue1">
                            {{#if data.orCheck}}
                            <button id="bt-agree">동의</button>
                            {{else}}
                            <button id="bt-agree" disabled>동의</button>
                            {{/if}}
                        </li>
                        <li class="bt-white2">
                            <button id="bt-disagree">미동의</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--// .container-wrap -->
        <!-- .popup-closeBtn -->
        <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
        <!--// .popup-closeBtn -->
    </div>
</div>
