<div class="popup tw-popup">
    <div class="popup-page nobg layer half"><!-- .half 화면에서 50%로 보여질때 -->
        <!-- #header -->
        <div class="header-wrap">
            <div class="page-header">
                <div class="header-ti align-l">
                    <h1>회선변경</h1>
                    <button class="line-title">{{bt_txt}} <span class="ico"></span></button>
                </div>
        <!-- .popup-closeBtn -->
        <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
        <!--// .popup-closeBtn -->
            </div>
        </div>
        <!--// #header -->
        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                {{#each group}}
                <!-- .cont-box -->
                <div class="cont-box nogaps">
                    <div class="line-change">
                        <p class="line-group">{{{title}}}({{list.length}})</p>
                        <div class="widget">
                            <div class="widget-box radio">
                                <ul class="select-list" role="radiogroup">
                                    {{#each list}}
                                    <li class="radiobox type04 {{option}} {{#if representation}}representation {{/if}}{{dimmed}}" role="radio" aria-checked="true">
                                        <input type="radio" name="droplist" value="" title="{{txt}}" {{option}} />
                                        <span class="ico"></span><span class="txt">{{txt}}{{#if integration}}<span class="badge badge-claim ml10 vt"><span class="blind">통합청구</span></span>{{/if}}</span><span class="line">{{line}}</span>
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {{#unless @last}}
                <hr class="cont-sp type1" aria-hidden="true"/>
                {{/unless}}
                {{/each}}
                <!--// .cont-box -->
            </div>
        </div>
        <!--// .container-wrap -->
    </div>
    <div class="popup-blind"></div>
</div>
