<div class="popup-page tw-popup pt0 fixed-bottom"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <div class="container">
            <div class="complete-wrap">
                <div class="title-box">
                    <i class="icon-complete-120"><span class="blind">complete</span></i>
                    <p class="tx-tit">{{data.prodNm}} ({{data.isBasFeeInfo}}원)<br>
                        <span class="tx-highlight pt10"><em>{{data.typeNm}}</em> 완료</span>
                        {{#if data.subText}}
                        <br><br>
                            {{{data.subText}}}
                        {{/if}}
                    </p>
                </div>
                <div class="tx-contents">
                    <!-- btn1 case-->
                    {{#ifCond data.btnNmList.length '<=' 1}}
                    <ul class="bt-slice">
                        {{#each data.btnNmList}}
                        <li><button type="button" class="btn-round2 btn-style3">{{this}}</button></li>
                        {{/each}}
                    </ul>
                    {{/ifCond}}
                    <!-- btn2 case-->
                    {{#ifCond data.btnNmList.length '>' 1}}
                    <ul class="bt-slice item-two">
                        {{#each data.btnNmList}}
                            <li><button type="button" class="btn-round2 btn-style3" id="btn{{@index}}">{{this}}</button></li>
                        {{/each}}
                    </ul>
                    {{/ifCond}}
                </div>
            </div>
        </div>
    </div>

    <div class="bt-fixed-area">
        <ul class="bt-slice full">
            <li><button type="button" class="btn-floating btn-style2">확인</button></li>
        </ul>
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <!-- <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button> -->
    <!--// .popup-closeBtn -->
</div>