<div class="popup-page tw-popup pt0 fixed-bottom">
    <div class="container-wrap">
        <div class="container">
            <div class="complete-wrap">
                <div class="title-box">
                    <i class="icon-complete-120"><span class="blind">complete</span></i>
                    <p class="tx-tit"><span class="tx-highlight pt10">{{{title}}}</span></p>
                </div>
                <div class="tx-contents">
                    {{#if codeTxt}}<p class="code-txt">{{codeTxt}}</p>{{/if}}
                    {{#if basicTxt}}<p class="basic-txt">{{basicTxt}}</p>{{/if}}
                    {{#if itemOne}}
                        <ul class="bt-slice item-one">
                            <li><a href="{{itemOne.url}}" class="btn-round2 btn-style3">{{itemOne.text}}</a></li>
                        </ul>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

    <div class="bt-fixed-area">
        <ul class="bt-slice full">
            <li><button type="button" class="btn-floating btn-style2 fe-btn_close">{{btnText}}</button></li>
        </ul>
    </div>
</div>