<div class="popup tw-popup">
    <div class="popup-info" role="alertdialog" {{#if title}}aria-labelledby="alertHeading"{{/if}}>
        {{#if title}}
        <div class="popup-header">
            <h5 class="popup-title" id="alertHeading">{{title}}</h5>
        </div>
        {{/if}}
        <div class="popup-contents">
            <div class="popup-file">
                <ul class="file-input-list">
                    {{#each inputfile_num}}
                    <li>
                        <div class="widget">
                            <div class="widget-box file">
                                <span class="inputbox bt-add">
                                    <span class="input">
                                        <input class="fileview" type="text" placeholder="" title="파일명" />
                                    </span>
                                    <span class="bt-box">
                                        파일찾기
                                        <input class="file" type="file" {{{attr}}} />
                                    </span>
                                </span>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
                <div class="warning_msg">
                    <ul>
                    {{#warning_msg}}
                        <li class="{{point}}">{{txt}}</li>
                    {{/warning_msg}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="btn-box">
            <ul class="bt-slice item-{{bt_num}}">
            {{#type}}
            <li class="{{style_class}}">
              <button>{{txt}}</button>
            </li>
            {{/type}}
            </ul>
        </div>
    </div>
    <div class="popup-blind"></div>
</div>
