<div class="popup tw-popup">
    <div class="popup-info full" role="alertdialog" {{#if title}}aria-labelledby="alertHeading"{{/if}} aria-describedby="alertText">
        <div class="popup-contents {{notice_has}}" id="alertText">
            <div class="inner-contents">
                {{#if img-type}}
                    <div class="img-type">
                        {{{img-type}}}
                    </div>
                {{/if}}
                {{#if editor-type}}
                    <div class="editor-type">
                        {{{editor-type}}}
                    </div>
                {{/if}}
            </div>
        </div>
        {{#if bt}}
        <div class="bt-box">
            <ul class="bt-slice">
            {{#bt}}
            <li class="{{style_class}}">
              <button>{{txt}}</button>
            </li>
            {{/bt}}
            </ul>
        </div>
        {{/if}}
    </div>
    <div class="popup-blind"></div>
</div>
