<div class="popup-page">
    <!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>이용계약 정보</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <div class="cont-box">
                <!-- payment-detail-wrap -->
                <div class="payment-detail-wrap">
                    <div class="payment-detail-box">
                        <div class="detail-inner">
                            <div class="detail-list">
                                <ul>
                                    <li>
                                        <span class="title">가입서비스번호</span>
                                        <span class="tx-cont ff-hn">{{data.svcNum}}</span>
                                    </li>
                                    <li>
                                        <span class="title">고객명</span>
                                        <span class="tx-cont">{{data.scrbrNm}}</span>
                                    </li>
                                    <li>
                                        <div class="inner-top">
                                            <span class="title">계약정보</span>
                                        </div>
                                        <div class="inner-row">
                                            <ul>
                                                {{#if data.isBeforeSvc}}
                                                    <li>
                                                        <span class="title">변경전 서비스</span>
                                                        <span class="tx-cont">{{data.chgTermSvcTechMthdNm}}</span>
                                                    </li>
                                                {{/if}}
                                                <li>
                                                    <span class="title">서비스</span>
                                                    <span class="tx-cont">{{data.svcTecMthdNm}}</span>
                                                </li>
                                                <li>
                                                    <span class="title">개통 희망일</span>
                                                    <span class="tx-cont ff-hn">{{data.svsetPrefrDtm}}</span>
                                                </li>
                                                <li>
                                                    <span class="title">가입유형</span>
                                                    <span class="tx-cont">{{data.svcChgNm}}</span>
                                                </li>
                                                <li>
                                                    <span class="title">장비임대기간</span>
                                                    <span class="tx-cont"><span class="ff-hn vbl">{{data.agrmtDcMthNm}}</span>년</span>
                                                </li>
                                                <li>
                                                    <span class="title">계약기간</span>
                                                    <span class="tx-cont"><span class="ff-hn vbl">{{data.ctrClNm}}</span>년</span>
                                                </li>
                                                <li>
                                                    <span class="title">SKT결합상품여부</span>
                                                    <span class="tx-cont ff-hn">{{data.skPlusYn}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <span class="title">주소</span>
                                        <span class="tx-cont">{{data.setAddr}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// payment-detail-wrap -->
                
                <div class="contents-btn">
                    <ul class="bt-slice">
                        <li class="bt-blue1">
                            <button id="fe-ok">확인</button>
                        </li>
                    </ul>
                </div>
            </div>

            <hr class="cont-sp type1" aria-hidden="true" />
            
            <div class="cont-box nogaps-hoz">
                <div class="box-confirm">
                    <!-- .widget -->
                    <div class="widget">
                        <div class="widget-box accordion">
                            <h3 class="tit-a">이용안내</h3>
                            <div class="acco-cover toggle">
                                <div class="bt-whole"><button role="button" aria-pressed="false"><span class="blind">내용 열기</span></button></div>
                                <div class="acco-style">
                                    <ul class="acco-list">
                                        <li class="acco-box">
                                            <div class="acco-tit"><button role="button" aria-pressed="false"><span class="bullet">1.</span> 서비스개통확인 및 문의사항</button></div>
                                            <div class="acco-cont">
                                                <ul class="list-dot">
                                                    <li class="list">서비스 개통 확인 및 이용계약서의 세부 내역 및 기타 문의사항은 고객센터(국번 없이 1600-2000)으로 문의 주시기 바랍니다.</li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="acco-box">
                                            <div class="acco-tit"><button role="button" aria-pressed="false"><span class="bullet">2.</span> 서비스 이용계약서 조회</button></div>
                                            <div class="acco-cont">
                                                <ul class="list-dot">
                                                    <li class="list">서비스 이용 계약서 조회는 2011년 10월 4일 이후 신규 가입건에 한해 조회가 가능합니다. </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="acco-box">
                                            <div class="acco-tit"><button role="button" aria-pressed="false"><span class="bullet">3.</span> 2011년 10월 4일 이전 가입 고객</button></div>
                                            <div class="acco-cont">
                                                <ul class="list-dot">
                                                    <li class="list">2011년 10월 4일 이전 가입 고객은 SK텔레콤 지점/대리점에서 확인 가능합니다.</li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--// .widget -->
                </div>
            </div>
        </div>
    </div>
    
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
