<div class="popup-page">
    <!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>계좌이체 납부 상세내역</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- content 영역 -->
            <div class="cont-box nogaps-hoz noborder">
				<div class="payment-detail-box">
                    <div class="detail-inner">
                        <div class="detail-list">
                            <ul>
                                <li>
                                    <span class="title">납부금액</span>
                                    <span class="tx-cont"><strong>{{data.payAmt}}</strong> 원</span>
                                </li>
                                <li>
                                    <span class="title">납부내용</span>
                                    <span class="tx-cont">{{data.invDt}} 청구분<br />{{data.svcNum}}</span>
                                </li>
                                <li>
                                    <div class="inner-top">
                                        <span class="title">요청내역</span>
                                    </div>
                                    <div class="inner-row">
                                        <ul>
                                            <li>
                                                <span class="title">요청결과</span>
                                                <span class="tx-cont">{{data.cardProcNm}}</span>
                                            </li>
                                            <li>
                                                <span class="title">요청일시</span>
                                                <span class="tx-cont">{{data.reqDate}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <span class="title">은행명</span>
                                    <span class="tx-cont">{{data.paymentName}}</span>
                                </li>
                                <li>
                                    <span class="title">계좌번호</span>
                                    <span class="tx-cont">{{data.cardNum}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

				<p class="box-undtxt2">계좌이체 취소는 영업점 또는 고객센터 <strong>[국번 없이 1599-0011(유료) / 휴대폰 114]</strong>를 통해 환불 신청할 수 있습니다.</p>
            </div>
            <!--// content 영역 -->
            <div class="footer-wrap btn-area-msg">
                <div class="page-gnb">
                    <div class="bt-popup">
                        <ul class="bt-slice">
                            {{#if data.isPersonal}}
                            <li class="bt-white1">
                                <button class="fe-btn cash">현금영수증 발행내역</button>
                            </li>
                            {{/if}}
                            {{#if data.isCompany}}
                                <li class="bt-white1">
                                    <button class="fe-btn tax">세금계산서 발행내역</button>
                                </li>
                            {{/if}}
                            <li class="bt-blue1">
                                <button>닫기</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// #contents -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
