<div class="popup">
    <div class="popup-info" role="alertdialog" {{#if title}}aria-labelledby="alertHeading"{{/if}} aria-describedby="alertText">
        {{#if title}}
        <div class="popup-header">
            <h5 class="popup-title" id="alertHeading">{{title}}</h5>
        </div>
        {{/if}}
        <div class="popup-contents" id="alertText">
            {{#if title2}}
            <dl>
                <dt>{{{title2}}}</dt>
                <dd>
                    {{{contents}}}
                </dd>
            </dl>
            {{else}}
                <div class="inner-contents">{{{contents}}}</div>
            {{/if}}
        </div>
        {{#if bt_num}}
        <div class="btn-box">
            <ul class="bt-slice item-{{bt_num}}">
            {{#type}}
            <li class="{{style_class}}">
              <button>{{txt}}</button>
            </li>
            {{/type}}
            </ul>
        </div>
        {{/if}}
        {{#if contents_b}}
            {{{contents_b}}}
        {{/if}}
        {{#if close_bt}}
            <button class="popup-closeBtn">팝업닫기<span class="ico"></span></button>
        {{/if}}
    </div>
    <div class="popup-blind"></div>
</div>
