<div class="popup">
	<div class="popup-info">
        {{#if title}}
		<div class="popup-header">
			<h5 class="popup-title">{{title}}</h5>
		</div>
        {{/if}}
		<div class="popup-contents">
		    <dl class="tube-list-ti">
		        <dt>Type</dt>
		        <dd>
                    <!-- .widget -->
                    <div class="widget">
                        <div class="widget-box tube">
                            <ul class="tube-list three">
                                <li><label><input type="radio" name="senddata1" checked>전체</label></li>
                                <li><label><input type="radio" name="senddata1">보냄</label></li>
                                <li><label><input type="radio" name="senddata1">받음</label></li>
                            </ul>
                        </div>
                    </div>
                    {{#if option}}
                    <!-- //.widget -->
                    <div class="widget select-option">
                        <div class="widget-box check">
                            <label class="checkbox type01"><input type="checkbox"/><span>자동 보낸 선물만 모아보기</span></label>
                        </div>
                    </div>
                    {{/if}}
                </dd>
		    </dl>
		    <dl class="tube-list-ti">
		        <dt>기간</dt>
		        <dd>
                    <!-- .widget -->
                    <div class="widget">
                        <div class="widget-box tube">
                            <ul class="tube-list two">
                                <li><label><input type="radio" name="senddata2" checked>1개월</label></li>
                                <li><label><input type="radio" name="senddata2">3개월</label></li>
                                <li><label><input type="radio" name="senddata2">6개월</label></li>
                                <li><label><input type="radio" name="senddata2">1년</label></li>
                            </ul>
                        </div>
                    </div>
                    <!-- //.widget -->
                </dd>
		    </dl>
		</div>
		<div class="btn-box">
            <ul class="bt-slice ver item-{{bt_num}}">
		    {{#type}}
		    <li class="{{class}}">
              <button onclick="{{href}}">{{txt}}</button>
            </li>
		    {{/type}}
		    </ul>
		</div>
        {{#if close_bt}}
            <a href="#close_pop" class="popup-closeBtn">팝업닫기<span class="ico"></span></a>
        {{/if}}
	</div>
	<div class="popup-blind"></div>
</div>
