{{#each banners}}
    <li>
        {{#if isHTML}}
            <button>
                {{{bnnrHtmlCtt}}}
            </button>
        {{else}}
            <button class="fe-banner" data-idx="{{idx}}" data-location="{{../location}}">
                <img src="{{bnnrFilePathNm}}" alt="{{bnnrImgAltCtt}}">
            </button>
        {{/if}}
    </li>
{{/each}}